<div class="ids-container">

  <div class="ids-row--col-md-6 ids-row--offset-md-3 ids-row--col-sm-8 ids-row--offset-sm-2">

    <article class="blog-post">

      <header class="blog-post--header">
        <time class="blog-post--date" datetime="{{pageContent?.meta.first_published_at}}">{{pageContent?.meta.first_published_at | date : "MMMM d, yyyy"}}</time>
        <h1 class="blog-post--title">
          {{pageContent?.title}}
        </h1>
        <span class="blog-post--author">By {{pageContent?.author}}</span>
      </header>

      <div class="blog-post--content">
        <ng-container *ngFor="let content of pageContent?.content">
          <div *ngIf="content.type === 'richText'" [innerHTML]="content?.value"></div>
          <div *ngIf="content.type === 'markdown'" [innerHTML]="content?.value"></div>
          <ng-container *ngIf="content.type === 'table'">
            <table>
              <ng-container *ngIf="content.value.first_row_is_table_header; then thBlock; else tdBlock;"></ng-container>
              <ng-template #thBlock>
                <thead>
                  <th *ngFor="let head of content?.value.data[0]" [innerHTML]="head"></th>
                </thead>
                <tbody>
                  <tr *ngFor="let row of content?.value.data; let first=first;">
                    <ng-container *ngIf="!first">
                      <td *ngFor="let data of row" [innerHTML]="data"></td>
                    </ng-container>
                  </tr>
                </tbody>
              </ng-template>
              <ng-template #tdBlock>
                <tbody>
                  <tr *ngFor="let row of content?.value.data;">
                    <td *ngFor="let data of row" [innerHTML]="data"></td>
                  </tr>
                </tbody>
              </ng-template>
            </table>
          </ng-container>
        </ng-container>
      </div>

    </article>

  </div>

</div>
