
  <div class="ids-banner ids-banner--top-full-width" [hidden]="!showWarning">
    <div class="ids-banner-content">
        <strong>Warning:</strong> You are not on the latest version of this library. <a routerLink="/{{section}}/{{library}}/latest/{{element}}">Go to latest version</a>.
    </div>
  </div>

  <div class="container--code ids-container ids-row">

    <aside class="sidebar sidebar--code ids-row--col-sm-3" *ngIf="sidebar">

      <div class="ids-form-group">
        <label for="select-library">Library</label>
        <select #library (change)="onLibraryChange(library.value)" id="select-library" class="ids-form-control">
          <option *ngFor="let library of libraryPaths" value="/{{section}}/{{library.path}}/latest" [selected]="library.path == selectedLibrary">
            {{library.name}}
          </option>
        </select>
      </div>

      <div class="ids-form-group">
        <label for="select-version">Version</label>
        <select #option (change)="onVersionChange(option.value)" id="select-version" class="ids-form-control">
          <option *ngFor="let version of versionPaths" value="/{{section}}{{version.full}}{{element}}" [selected]="version.full == selectedVersion">
            {{ version.label }}
          </option>
        </select>
      </div>

      <ng-container *ngFor="let library of libraryPaths">
        <h1 class="ids-list--heading" *ngIf="library.path == selectedLibrary">{{library.name}}</h1>
      </ng-container>

      <nav class="sidebar-nav">
        <ul class="ids-list ids-list--hover">
          <li *ngFor="let child of sidebarNav; let i = index;">
            <span (click)="expandedLevel1[i] = !expandedLevel1[i]" class="ids-list--item ids-list--heading" [class.ids-list--heading--active]="!expandedLevel1[i]">
              {{child.name}}
              <svg class="ids-icon" focusable="false" aria-hidden="true" role="presentation">
                <use xlink:href="#icon_expand"></use>
              </svg>
            </span>
            <ul *ngIf="child.pages" class="ids-list ids-list--expandable" [class.ids-list--expanded]="!expandedLevel1[i]">
              <li *ngFor="let grandChild of child.pages">
                <a class="ids-list--item" routerLinkActive="ids-list--item--selected" routerLink="/{{section}}/{{sidebarPath}}/{{grandChild.slug}}">
                  {{grandChild.name}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

    </aside>

    <app-page-not-found *ngIf="notFound"></app-page-not-found>

    <main class="ids-row--col-sm-8 ids-row--offset-sm-4">

      <div class="page-content--code" *ngIf="!notFound">

        <header class="page-header">
          <h1>{{docs?.title}}</h1>
          <a *ngIf="docs?.demo?.path" href="{{absolutePath}}/demo{{docs.demo.path}}">View Live Demo</a>
          <a class="ids-btn ids-btn--link btn--custom--information" *ngIf="docs?.system" routerLink="/guidelines/{{docs?.system.category}}/{{docs?.system.name}}">
            <div class="ids-btn--inner">
              <span title="icon_information icon">
                <svg class="ids-icon" focusable="false" aria-hidden="true" role="presentation"><use xlink:href="#icon_information"/></svg>
              </span>
              View More Information
            </div>
          </a>
        </header>


        <div *ngIf="docs?.specs">
          <h2>Specifications</h2>
          <table>
            <thead>
              <th>Description</th>
              <th>Value</th>
            </thead>
            <tbody>
              <tr *ngFor="let spec of docs.specs">
                <td>
                  {{spec.title}}
                </td>
                <td>
                  <span class="site-spec--color" *ngIf="!spec.valueType" [ngStyle]="spec.value && {'background-color': ''+ spec.value +'' }" title="{{spec.value}}"></span>
                  <span *ngIf="spec.valueType">{{spec.value}}</span>
                </td>
                <td>
                  <code class="site-spec--code">var({{spec.originalDeclaration}})</code>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngFor="let element of elements">
          <h2>Class {{element.name}}</h2>
          <div *ngFor="let constructorTag of element.constructorTags">
            <span>Constructor</span>
            <code>new {{element.name}}({{constructorTag.name}}({{constructorTag.type.name}}): {{constructorTag.description}})</code>
          </div>
          <table>
            <thead>
              <th>Name</th>
              <th>Description</th>
            </thead>
            <tbody>
              <tr *ngFor="let method of element.methods">
                <td>
                  <div *ngIf="method.params.length; then thenTemplateName; else elseTemplateName">
                    your Content ignored
                  </div>
                </td>
                <ng-template #thenTemplateName>
                  <td>
                    {{method.name}}&#40;<span *ngFor="let param of method.params; let isLast=last">{{param.paramName}} = {{param.paramDescription}}{{isLast ? '' : ', '}}</span>&#41;
                  </td>
                </ng-template>
                <ng-template #elseTemplateName>
                  <td>
                    {{method.name}}
                  </td>
                </ng-template>
                <td>
                  {{method.info}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!loading" #link [innerHTML]="docs?.trustedHtml" (click)="relativeLinks(link)"></div>
      </div>

    </main>

  </div>
