/*
 * One Column Banner
 */

.one-column-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.one-column-banner__header {
  width: 60%;
  text-align: center;
}
