files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/09_download_ssls.sh":
    mode: "000775"
    owner: root
    group: root
    content: |
      #! /bin/bash

      set -u
      set -e

      mkdir -p /data/certs
      aws s3 sync s3://hl-certificates/in_production/design_infor_com /data/certs/design_infor_com/
