/*
 * Common (move to doc-css)
 */

/* stylelint-disable */
:root {
  --black: #000;
  --white: #fff;
  --link: #888;
  --link-dark: #1f1f1f;
  --body: #606060;
  --headline: var(--black);
  --spacing: 8px;
  --border: var(--body);
  --border-light: rgba(96, 96, 96, 0.3);
}
/* stylelint-enable */

/*
  Header
*/

.logo {
  & svg {
    display: flex;
    flex-shrink: 0;
    margin-right: calc(var(--spacing) * 2);
  }
}

.site-header {
  display: block; /* this is an override. doesn't need to be moved into doc-css */

  & .iux-container {
    display: flex;
  }
}

/*
  Flexible streamfield components
*/

.flexible-content {
  position: relative;

  & .bg-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  & .hero-image {
    margin-bottom: calc(var(--spacing) * 4);
  }

  & h1 {
    margin-bottom: calc(var(--spacing) * 3);
  }

  & p {
    margin-bottom: calc(var(--spacing) * 8);
  }
}

.full-width {
  padding: calc(var(--spacing) * 8) 0;
  position: relative;
  text-align: center;

  & .iux-container {
    position: relative;
    z-index: 1;
  }
}

.two-column {
  & .two-column--col {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: calc(var(--spacing) * 4) 0;
    position: relative;
  }

  & .two-column--content {
    position: relative;
    z-index: 1;
  }

  & p {
    margin-bottom: calc(var(--spacing) * 4);
  }
}

.two-col-text-image {
  padding: calc(var(--spacing) * 16) 0;

  & .iux-container {
    position: relative;
    z-index: 1;
  }
}

.two-col-text-image--image {
  &.right {
    order: 2;
  }

  & img {
    max-width: 100%;
    width: 100%;
  }
}
