/* Common styles to sync back to documentaion-css */

.site-header {
  &.home {
    display: none;
  }
}

.sidebar-nav__section-title {
  display: inline-block;
  margin-bottom: 24px;
  text-transform: capitalize;
}

.sidebar-nav__group--no-grandchildren {
  margin-bottom: 24px;
}
