/*
 * Base
*/

:root {
  --black: #000;
  --white: #fff;
  --link: #888;
  --link-dark: #1f1f1f;
  --body: #606060;
  --headline: var(--black);
  --spacing: 8px;
}

body {
  background-color: var(--white);
}

a {
  color: var(--link);

  &:visited {
    color: var(--link);
  }
}

.iux-container {
  margin: 0 auto;
  max-width: 1280px;
}

/*
 * Header
*/

.site-header {
  align-items: center;
  display: flex;
  padding: var(--spacing) 0;
}

/*
 * Logo
*/

.logo {
  align-items: center;
  display: flex;

  & img {
    display: block;
    margin-right: calc(var(--spacing) * 3);
  }

  & span {
    color: var(--headline);
    font-size: 2.4rem;
    font-weight: 300;
  }
}

/*
 * Main Nav
*/

.main-nav {
  margin-left: auto;
}

.main-nav__item {
  color: var(--link);
  font-size: 1.6rem;
  margin: 0 calc(var(--spacing) * 2);
  padding: var(--spacing) var(--spacing);
  position: relative;

  &:visited {
    color: var(--link);
  }

  &:hover {
    color: var(--black);
    text-decoration: none;
  }

  &::after {
    background-color: var(--black);
    bottom: 0;
    content: ' ';
    display: block;
    height: 2px;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
  }

  &.main-nav__item--current {
    &::after {
      opacity: 1;
    }
  }
}

.main-nav__search {
  background-color: transparent;
  border: none;
  padding-left: calc(var(--spacing) * 3);

  & svg {
    height: 16px;
    width: 16px;
  }

  & g {
    fill: var(--link-dark);
  }
}
