<ng-container>

  <h1>{{pageContent?.title}}</h1>

  <section *ngIf="pageContent">

    <ng-container *ngFor="let streamfield of pageContent.body">
      <h2 *ngIf="streamfield.type === 'heading'">{{streamfield?.value}}</h2>
      <div *ngIf="streamfield.type === 'richText'" [innerHTML]="streamfield?.value"></div>
      <img *ngIf="streamfield.type === 'image'" src="{{streamfield?.value.file}}" alt="{{streamfield?.value.title}}">
      <div *ngIf="streamfield.type === 'markdown'" [innerHTML]="streamfield?.value"></div>
    </ng-container>

  </section>

</ng-container>
