# Each line is a file pattern followed by one or more owners.

# Default owners for the repo:
*       @jmacaluso711 @clepore @nickwynja

# Code owners for the docs directory

deploy/         @corpulent
docker/         @corpulent
src/app/config  @corpulent
src/config      @corpulent
