@import '../../../assets/css/breakpoints.scss';

.icon-group {
  display: flex;
  flex-flow: wrap;
  margin-bottom: calc(var(--theme-number-spacing-base) * 4);
  margin-left: -1rem;
}

.icon-card {
  align-items: center;
  border: 1px solid var(--theme-color-palette-graphite-20);
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: center;
  margin: var(--theme-number-spacing-base);
  padding: var(--theme-number-spacing-base);
  position: relative;
  width: 120px;

  svg {
    fill: transparent;
    height: 24px;
    width: 24px;
  }

  span {
    display: inline-block;
    font-size: 14px;
    margin-top: 1rem;
    text-align: center;
  }
}

.ids-form-control {
  margin-bottom: calc(var(--theme-number-spacing-base) * 2);
}
