<ng-container>

  <h1 class="page-title">{{pageContent?.title}}</h1>

  <h4 *ngIf="page?.fka">Formerly known as: {{page?.fka}}</h4>

  <section *ngIf="pageContent.descriptors" class="page-section">

    <p>
      <span *ngIf="pageContent.descriptors.what_it_does" class="what-it-does">
        {{pageContent.descriptors.what_it_does.description}}
      </span>
      <span *ngIf="pageContent.descriptors.what_user_can_do" class="what-user-can-do">
        {{pageContent.descriptors.what_user_can_do.description}}
      </span>
      <span *ngIf="pageContent.descriptors.when_to_use_it" class="when-to-use-it">
        {{pageContent.descriptors.when_to_use_it.description}}
      </span>
    </p>

  </section>

  <section *ngIf="pageContent.types.length > 0" class="page-section page-section--types">

    <h1 class="h2">Types</h1>
    <p>A type extends or alters a component's definition.</p>

    <table>
      <thead>
        <th>Type</th>
        <th>When to use it</th>
        <th>Example</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let type of pageContent.types">
          <tr [ngClass]="(type.value.image_type === 'full-width') ? 'row--full-image' : ''">
            <td>
              <strong>{{type.value.name}}</strong>
            </td>
            <td>{{type.value.detail}}</td>
            <td *ngIf="type.value.image_type === 'inline'">
              <img src="{{type.value.image.file}}" alt="{{type.value.image.title}}">
            </td>
          </tr>
          <tr *ngIf="type.value.image_type === 'full-width'" class="image-row--full">
            <td colspan="3">
              <img src="{{type.value.image.file}}" alt="{{type.value.image.title}}">
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </section>

  <section *ngIf="pageContent.options.length > 0" class="page-section page-section--options">

    <h1 class="h2">Options</h1>
    <p>Options can be added to configure a component. Many options can be added to a component and all options can be used for all types, unless where specifically noted.</p>

    <table>
      <thead>
        <th>Option</th>
        <th>Details</th>
      </thead>
      <tbody>
        <tr *ngFor="let option of pageContent.options">
          <td>
            <strong>{{option.value.name}}</strong>
          </td>
          <td>{{option.value.detail}}</td>
        </tr>
      </tbody>
    </table>

  </section>

  <ng-container *ngFor="let body of pageContent.body">
    <section class="page-section" *ngIf="body.type === 'richText'" [innerHTML]="body?.value"></section>
    <section class="page-section" *ngIf="body.type === 'markdown'" [innerHTML]="body?.value"></section>
  </ng-container>

</ng-container>
