<ng-container>

      <header class="page-header">
        <div class="page-header__intro">
          <h1 class="page-title">{{pageContent?.title}}</h1>
          <h4 *ngIf="page?.fka">Formerly known as: {{page?.fka}}</h4>
        </div>
        <div class="page-header__buttons">
          <a class="ids-btn ids-btn--default" *ngIf="pageContent.cross_link" routerLink="/code/ids-css/latest/{{pageContent.cross_link}}">
            <span>&nbsp;View Code</span>
          </a>
          <a class="ids-btn ids-btn--link" *ngIf="pageContent.demo_link" href="{{pageContent.demo_link}}" target="_blank">
            <svg class="ids-icon">
              <path d="M6.293 11.707c.391.391 1.023.391 1.414 0l6.293-6.293v3.586c0 .552.447 1 1 1 .553 0 1-.448 1-1v-6c0-.552-.447-1-1-1h-6c-.553 0-1 .448-1 1s.447 1 1 1h3.586l-6.293 6.293c-.391.391-.391 1.023 0 1.414zm8.717.293c-.547 0-.991.447-.991 1v.599c0 .389-.445.401-.496.401h-9.046c-.051 0-.495-.012-.495-.401v-9.099c0-.275.221-.5.495-.5h.533c.547 0 .99-.447.99-1 0-.553-.443-1-.99-1h-.533c-1.366 0-2.477 1.121-2.477 2.5v9.099c0 1.346 1.088 2.401 2.477 2.401h9.046c1.389 0 2.477-1.055 2.477-2.401v-.599c0-.553-.443-1-.99-1z"
                sketch:type="MSShapeGroup" />
            </svg>
            <span>View Demo</span>
          </a>
        </div>
      </header>

      <section *ngIf="pageContent.descriptors" class="page-section">

        <p>
        <span *ngIf="pageContent.descriptors.what_it_does" class="what-it-does">
          {{pageContent.descriptors.what_it_does.description}}
        </span>
        <span *ngIf="pageContent.descriptors.what_user_can_do" class="what-user-can-do">
          {{pageContent.descriptors.what_user_can_do.description}}
        </span>
        <span *ngIf="pageContent.descriptors.when_to_use_it" class="when-to-use-it">
          {{pageContent.descriptors.when_to_use_it.description}}
        </span>
        </p>

      </section>

      <section *ngIf="pageContent.types && pageContent.types.length > 0" class="page-section page-section--types">

        <div *ngFor="let type of pageContent.types">
          <h2>{{type.value.name}}</h2>
          <p>{{type.value.detail}}</p>
          <img src="{{type.value.image.file}}" alt="{{type.value.image.title}}">
        </div>

      </section>

      <h2 *ngIf="pageContent?.tokensCategory">Design Tokens</h2>
      <token-table [tokensCategory]="pageContent?.tokensCategory" [sectionClassName]="true" [loading]="loading" [version]="'latest'"></token-table>

      <modifiers-table [modifiers]="pageContent.modifiers"></modifiers-table>

      <ng-container *ngFor="let body of pageContent.body">
        <h2 class="page-section" *ngIf="body.type === 'heading'">{{body?.value}}</h2>
        <img class="page-section" *ngIf="body.type === 'image'" src="{{body?.value.file}}" alt="{{streamfield?.value.title}}">
        <section class="page-section" *ngIf="body.type === 'markdown'" [innerHTML]="body?.value"></section>
        <section class="page-section" *ngIf="body.type === 'richText'" [innerHTML]="body?.value"></section>
      </ng-container>

</ng-container>
