@import '../../../assets/css/breakpoints.scss';

.hero {
  background: #8f17e6;
  background:
    -moz-linear-gradient(
      top,
      #8f17e6 0%,
      #7714dc 70%,
      #3d08a6 100%
    );
  background:
    -webkit-linear-gradient(
      top,
      #8f17e6 0%,
      #7714dc 70%,
      #3d08a6 100%
    );
  background:
    linear-gradient(
      to bottom,
      #8f17e6 0%,
      #7714dc 70%,
      #3d08a6 100%
    );
  height: 800px;
  position: relative;
}

.hero-overlay {
  background-image: url(../../../assets/img/grid-tile.png);
  background-size: 45px 45px;
  bottom: 0;
  opacity: 0.08;
  position: absolute;
  top: 0;
  width: 100%;
}
