<header class="hero">
  <div class="hero-slider-container">
    <div class="hero-slider-nav">
      <button class="hero-slider-nav__item hero-slider-nav__item--selected">Approachable</button>
      <button class="hero-slider-nav__item">Focused</button>
      <button class="hero-slider-nav__item">Relevant</button>
      <button class="hero-slider-nav__item">Perceptive</button>
    </div>
    <div #heroSlider class="hero-slider">
      <div class="hero-slider__slide">
        <h1>As human-centered as consumer technology</h1>
        <div class="hero-slider__image hero-slider__image--0">
          <img src="../../../assets/img/graphic-approachable.png" alt="">
        </div>
      </div>
      <div class="hero-slider__slide">
        <h1>Minimize complexity. Eliminate distractions.</h1>
        <div class="hero-slider__image hero-slider__image--1">
          <img src="../../../assets/img/graphic-focused.png" alt="">
        </div>
      </div>
      <div class="hero-slider__slide">
        <h1>Delivering what’s important to the user, business, & industry</h1>
        <div class="hero-slider__image hero-slider__image--2">
          <img src="../../../assets/img/graphic-relevant.png" alt="">
        </div>
      </div>
      <div class="hero-slider__slide">
        <h1>Learning what users need & leading them toward success</h1>
        <div class="hero-slider__image hero-slider__image--3">
          <img src="../../../assets/img/graphic-perceptive.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="hero-overlay"></div>
</header>

<section class="row row--1 row--ids">
  <div class="row--container">
    <div class="ids-row">
      <div class="row--ids--intro ids-row--col-md-8 ids-row--offset-md-2">
        <p>Infor Design System is the central resource for development tools, best practices, and support documentation to help
        everyone create consistent, quality experiences.</p>
        <a class="ids-btn ids-btn--primary" routerLink="/code/ids-enterprise/latest">Get Started</a>
      </div>
    </div>
    <div class="row--blocks">
      <div class="row--block">
        <span><svg class="ids-icon"><use xlink:href="#icon-download"/></svg></span>
        <div>
          <h3>Guidelines</h3>
          <p>View our principles and best practices for using type, colors, and components to creatre an optimal user
            experience.</p>
          <a routerLink="/guidelines">
            View Design Guidelines
            <svg class="ids-icon"><use xlink:href="#icon-right-arrow"/></svg>
          </a>
        </div>
      </div>
      <div class="row--block">
        <span><svg class="ids-icon"><use xlink:href="#icon-download"/></svg></span>
        <div>
          <h3>Components</h3>
          <p>Our components library provides patterns and documentation for designing and building new products and
            features.</p>
          <a routerLink="/code/components">
            View Development Guidelines
            <svg class="ids-icon"><use xlink:href="#icon-right-arrow"/></svg>
          </a>
        </div>
      </div>
      <div class="row--block">
        <span><svg class="ids-icon"><use xlink:href="#icon-download"/></svg></span>
        <div>
          <h3>Resources</h3>
          <p>Look through our documentation and tools to help you make the the most of the Infor Design System.</p>
          <a routerLink="/resources">
            View Our Resources
            <svg class="ids-icon"><use xlink:href="#icon-right-arrow"/></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row row--2 row--design-tokens">
  <div class="row--container">
    <div class="ids-row row--design-tokens--top">
      <div class="ids-row--col-md-10 ids-row--offset-md-1">
        <span class="row--kicker">What's New in IDS</span>
        <h1 class="row--title">Introducing Design Tokens</h1>
      </div>
    </div>
    <div class="row--design-tokens--animation">Animation Placeholder</div>
    <div class="ids-row row--design-tokens--btm">
      <div class="ids-row--col-md-10 ids-row--offset-md-1">
        <p>Design tokens are the single source of truth for style properties in IDS. Tokens are use to define values and attributes for UI elements in the design system. Implementing tokens enables you to update and customize the look of an application more easily.</p>
        <a class="ids-btn ids-btn--primary" routerLink="/">Learn More</a>
      </div>
    </div>
  </div>
</section>

<section class="row row--3 row--design-system">
  <div class="row--container">
    <div class="ids-row">
      <div class="ids-row--col-md-10 ids-row--offset-md-1 row--design-system--top">
        <span class="row--kicker">System Guidelines</span>
        <h1 class="row--title">Elements of a Design System</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultrices rutrum ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus vitae condimentum velit. Proin erat orci.</p>
      </div>
    </div>
    <div class="row--blocks--scroll">
      <div class="row--blocks">
        <div class="row--block row--block--design-system row--block--design-system--typography">
          <a routerLink="/guidelines/typography">
            <div class="row--block--design-system--content">
              <h2>Typography</h2>
              <span>View Details <svg class="ids-icon"><use xlink:href="#icon-right-arrow "/></svg></span>
            </div>
          </a>
          <div class="row--block--design-system--overlay"></div>
        </div>
        <div class="row--block row--block--design-system row--block--design-system--iconography">
          <a routerLink="/guidelines/icons">
            <div class="row--block--design-system--content">
              <h2>Iconography</h2>
              <span>View Details <svg class="ids-icon"><use xlink:href="#icon-right-arrow " /></svg></span>
            </div>
          </a>
          <div class="row--block--design-system--overlay"></div>
        </div>
        <div class="row--block row--block--design-system row--block--design-system--color">
          <a routerLink="/guidelines/colors">
            <div class="row--block--design-system--content">
              <h2>Color Palette </h2>
              <span>View Details <svg class="ids-icon"><use xlink:href="#icon-right-arrow " /></svg></span>
            </div>
          </a>
          <div class="row--block--design-system--overlay"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row row--4 row--components">
  <div class="row--container">
    <div class="ids-row">
      <div class="ids-row--col-sm-11 ids-row--offset-sm-1">
        <div class="ids-row ids-row--gutter">
          <div class="ids-row--col-sm-8 row--components--text">
            <span class="row--kicker">Using Components</span>
            <h1 class="row--title">Design with Code</h1>
            <img class="row--components--image--mobile" src="../../../assets/img/components.png" alt="Components">
            <p>Component libraries are set-up to help you integrate UI patterns into your projects quickly. With built-in responsive features and patterns for many use cases, enterprise components can help you design new apps and features right in your browser.</p>
            <a class="ids-btn ids-btn--primary" routerLink="/code/components">View Components</a>
          </div>
          <div class="ids-row--col-sm-4 row--components--image">
            <img src="../../../assets/img/components.png" alt="Components">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row row--5 row--resources">
  <div class="row--container">
    <div class="ids-row">
      <div class="ids-row--col-md-10 ids-row--offset-md-1">
        <span class="row--kicker">Design & Development Resources</span>
        <h1 class="row--title">Use Our Tools and Start Building</h1>
      </div>
    </div>
    <div class="row--blocks row--blocks--resources">
      <div class="row--block row--block--resources">
        <a class="row--block--resources--link" routerLink="/guidelines">
          <div><img src="../../../assets/img/resources-github.jpg" alt="GitHub"></div>
          <div class="row--block-resources--text">
            <p>Follow us on GitHub to get the latest code, see updates, and contribute to the design system</p>
            <button class="ids-btn ids-btn--primary">View on GitHub</button>
          </div>
        </a>
      </div>
      <div class="row--block row--block--resources">
        <a class="row--block--resources--link" routerLink="/guidelines">
          <div><img src="../../../assets/img/resources-sketch-lib.jpg" alt="Sketch Library"></div>
          <div class="row--block-resources--text">
            <p>Install our Sketch Library to start using our components and receive automatic updates</p>
            <span>Requires Sketch Version 53 or Newer</span>
            <button class="ids-btn ids-btn--primary">Sync Library</button>
          </div>
        </a>
      </div>
      <div class="row--block row--block--resources">
        <a class="row--block--resources--link" routerLink="/guidelines">
          <div><img src="../../../assets/img/resources-sketch-tool.jpg" alt="Sketch Tool"></div>
          <div class="row--block-resources--text">
            <p>If you’re unable to install our Sketch Library, dowload the latest version of our Sketch Toolkit</p>
            <span>Requires Sketch Version 53 or Newer</span>
            <button class="ids-btn ids-btn--primary">Download Toolkit</button>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="row row--6 row--feedback">
  <div class="row--container">
    <div class="ids-row">
      <div class="ids-row--col-sm-10 ids-row--offset-sm-2">
        <div class="ids-row">
          <div class="ids-row--col-sm-7 row--feedback--text">
            <h3>Give Us Your Feedback</h3>
            <p>We’re working to make our design system as robust and helpful as possible. Let us know if there is anything we can
            improve or if there is anything you couldn’t find.</p>
          </div>
          <div class="ids-row--col-sm-3 ids-row--offset-sm-2 row--feedback--button">
            <a class="ids-btn ids-btn--outline--white"routerLink="/">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<site-footer></site-footer >
