<header class="hero">
  <div class="hero-slider-container">
    <div class="hero-slider-nav">
      <span class="hero-slider__kicker hero-slider__kicker--desktop">Design Principles</span>
      <button class="hero-slider-nav__item hero-slider-nav__item--selected">Approachable</button>
      <button class="hero-slider-nav__item">Focused</button>
      <button class="hero-slider-nav__item">Relevant</button>
      <button class="hero-slider-nav__item">Perceptive</button>
    </div>
    <span class="hero-slider__kicker hero-slider__kicker--mobile">Design Principles</span>
    <a class="hero-slider__link" routerLink="/guidelines/identity/our-principles">Learn More <svg class="ids-icon"><use xlink:href="#icon-right-arrow" /></svg></a>
    <div #heroSlider class="hero-slider">
      <div class="hero-slider__slide">
        <h1>
          <span>Approachable</span>
          As human-centered as consumer technology
        </h1>
        <div class="hero-slider__image hero-slider__image--0">
          <img src="../../../assets/img/graphic-approachable.png" alt="">
        </div>
      </div>
      <div class="hero-slider__slide">
        <h1>
          <span>Focused</span>
          Minimize complexity and eliminate distractions
        </h1>
        <div class="hero-slider__image hero-slider__image--1">
          <img src="../../../assets/img/graphic-focused.png" alt="">
        </div>
      </div>
      <div class="hero-slider__slide">
        <h1>
          <span>Relevant</span>
          What's important to the business and the user
        </h1>
        <div class="hero-slider__image hero-slider__image--2">
          <img src="../../../assets/img/graphic-relevant.png" alt="">
        </div>
      </div>
      <div class="hero-slider__slide">
        <h1>
          <span>Perceptive</span>
          Continually learning what leads users to success
        </h1>
        <div class="hero-slider__image hero-slider__image--3">
          <img src="../../../assets/img/graphic-perceptive.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="hero-overlay"></div>
</header>

<section class="row row--1 row--ids">
  <div class="row--container">
    <div class="ids-row">
      <div class="row--ids--intro ids-row--col-md-8 ids-row--offset-md-2">
        <h1>Infor Design System</h1>
        <p>An open-source collection of design assets, components, best practices, and guidelines that provides developers and designers with the tools and guidance they need to create meaningful user&nbsp;experiences.</p>
        <a class="ids-btn ids-btn--primary" routerLink="/code/ids-enterprise/latest">Get Started</a>
      </div>
    </div>
    <div class="row--blocks">
      <div class="row--block row--block--ids">
        <span class="ids-icon ids-icon--uplift row--block--icon" [inlineSVG]="'../../assets/svgs/icon-document.svg'"></span>
        <div>
          <h3><span class="ids-icon row--block--icon--mobile" [inlineSVG]="'../../assets/svgs/icon-document.svg'"></span>Guidelines</h3>
          <p>Explore best practices and guidelines for typography, colors, and other design assets.</p>
          <a routerLink="/guidelines">
            View Design Guidelines
            <svg class="ids-icon"><use xlink:href="#icon-right-arrow"/></svg>
          </a>
        </div>
      </div>
      <div class="row--block">
        <span class="ids-icon ids-icon--uplift row--block--icon" [inlineSVG]="'../../assets/svgs/icon-components.svg'"></span>
        <div>
          <h3><span class="ids-icon row--block--icon--mobile" [inlineSVG]="'../../assets/svgs/icon-components.svg'"></span>Components</h3>
          <p>Use our ever&ndash;growing component library, with code snippets, API details, examples, and more, to get you building.</p>
          <a routerLink="/code/ids-enterprise/latest">
            View Component Documentation
            <svg class="ids-icon"><use xlink:href="#icon-right-arrow"/></svg>
          </a>
        </div>
      </div>
      <div class="row--block">
        <span class="ids-icon ids-icon--uplift row--block--icon" [inlineSVG]="'../../assets/svgs/icon-download.svg'"></span>
        <div>
          <h3><span class="ids-icon row--block--icon--mobile" [inlineSVG]="'../../assets/svgs/icon-download.svg'"></span>Resources</h3>
          <p>Resources to help you make the most of IDS with documentation and tools.</p>
          <a routerLink="/resources">
            View Resources &amp; Tools
            <svg class="ids-icon"><use xlink:href="#icon-right-arrow"/></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row row--2 row--design-tokens">
  <div class="row--container">
    <div class="ids-row row--design-tokens--top">
      <div class="ids-row--col-md-10 ids-row--offset-md-1">
        <span class="row--kicker">What's New</span>
        <h1 class="row--title">Introducing Design Tokens</h1>
      </div>
    </div>
    <div class="row--design-tokens--animation">
      <video
        src="../../../assets/video/token-video.mp4"
        autoplay
        loop
        muted
        onloadedmetadata="this.muted = true"
        playsinline
      >
        <p>Your browser does not support the video element.</p>
      </video>
    </div>
    <div class="ids-row row--design-tokens--btm">
      <div class="ids-row--col-md-10 ids-row--offset-md-1">
        <p>
          Design tokens are pieces of data that take the place of hard-coded
          properties. Within the Infor Design System, they are the consistent
          colors, fonts, sizing, and spacing that developers use to create
          applications. Design tokens are also the mechanism that integrates
          applications and platforms—so when they are integrated into product
          code, the IDS team can remotely push the visual style updates. Seamless
          style updates save time and ensure scalability and consistency throughout
          products.
        </p>
        <a class="ids-btn ids-btn--primary" routerLink="/guidelines/identity/design-tokens">Learn More</a>
      </div>
    </div>
  </div>
</section>

<section class="row row--3 row--design-system">
  <div class="row--container">
    <div class="ids-row">
      <div class="ids-row--col-md-10 ids-row--offset-md-1 row--design-system--top">
        <span class="row--kicker">Guidelines</span>
        <h1 class="row--title">Product Identity</h1>
        <p>Type, icons, and colors are fundamental pieces of a design concept and the foundation for building consistent and purposeful designs.</p>
      </div>
    </div>
    <div class="row--blocks--scroll">
      <div class="row--blocks">
        <div class="row--block row--block--design-system row--block--design-system--typography">
          <a routerLink="/guidelines/typography">
            <div class="row--block--design-system--content">
              <h2>Typography</h2>
              <span>View Details <svg class="ids-icon"><use xlink:href="#icon-right-arrow "/></svg></span>
            </div>
          </a>
          <div class="row--block--design-system--overlay"></div>
        </div>
        <div class="row--block row--block--design-system row--block--design-system--iconography">
          <a routerLink="/guidelines/icons">
            <div class="row--block--design-system--content">
              <h2>Iconography</h2>
              <span>View Details <svg class="ids-icon"><use xlink:href="#icon-right-arrow " /></svg></span>
            </div>
          </a>
          <div class="row--block--design-system--overlay"></div>
        </div>
        <div class="row--block row--block--design-system row--block--design-system--color">
          <a routerLink="/guidelines/colors">
            <div class="row--block--design-system--content">
              <h2>Color Palette </h2>
              <span>View Details <svg class="ids-icon"><use xlink:href="#icon-right-arrow " /></svg></span>
            </div>
          </a>
          <div class="row--block--design-system--overlay"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row row--4 row--components">
  <div class="row--container">
    <div class="ids-row">
      <div class="ids-row--col-sm-11 ids-row--offset-sm-1">
        <div class="ids-row ids-row--gutter">
          <div class="ids-row--col-sm-8 row--components--text">
            <span class="row--kicker">Components</span>
            <h1 class="row--title">Design With Code</h1>
            <img class="row--components--image--mobile" src="../../../assets/img/components.png" alt="Components">
            <p>The component library offers built&ndash;in responsive features, patterns, and layouts for developers to create appealing
            applications.</p>
            <a class="ids-btn ids-btn--primary" routerLink="/code/ids-enterprise/latest">Learn More</a>
          </div>
          <div class="ids-row--col-sm-4 row--components--image">
            <img src="../../../assets/img/components.png" alt="Components">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row row--5 row--resources">
  <div class="row--container">
    <div class="ids-row">
      <div class="ids-row--col-md-10 ids-row--offset-md-1">
        <span class="row--kicker">Resources</span>
        <h1 class="row--title">Tools to Start Building</h1>
      </div>
    </div>
    <div class="row--blocks row--blocks--resources">
      <div class="row--block row--block--resources">
        <div class="row--block--resources--link">
          <div><img src="../../../assets/img/resources-github.jpg" alt="GitHub"></div>
          <div class="row--block-resources--text">
            <p>Submit requests and get the latest code and updates on GitHub.</p>
            <a
              class="ids-btn ids-btn--primary"
              href="https://github.com/infor-design"
              target="_blank"
              ><span class="ids-icon ids-icon--uplift" [inlineSVG]="'../../assets/svgs/icon-launch.svg'"></span>View on GitHub</a>
          </div>
        </div>
      </div>
      <div class="row--block row--block--resources">
        <div class="row--block--resources--link">
          <div><img src="../../../assets/img/resources-sketch-lib.jpg" alt="Sketch Library"></div>
          <div class="row--block-resources--text">
            <p>Install our Sketch Library to use our components and receive automatic updates.</p>
            <span>Requires Sketch Version 53 or newer</span>
            <a
              class="ids-btn ids-btn--primary ids-btn--desktop"
              href="sketch://add-library?url=https://design.infor.com/api/docs/ids-sketch-feed/latest/feeds/ids-sketch-library.rss" target="_blank"
            ><span class="ids-icon ids-icon--uplift" [inlineSVG]="'../../assets/svgs/icon-load.svg'"></span>Sync Library</a>
            <a class="ids-btn ids-btn--primary ids-btn--mobile"
              href="https://github.com/infor-design/design-system/tree/master/sketch"
              target="_blank"><span class="ids-icon ids-icon--uplift" [inlineSVG]="'../../assets/svgs/icon-load.svg'"></span>View on GitHub</a>
          </div>
        </div>
      </div>
      <div class="row--block row--block--resources">
        <div class="row--block--resources--link">
          <div><img src="../../../assets/img/resources-sketch-tool.jpg" alt="Sketch Tool"></div>
          <div class="row--block-resources--text">
            <p>Download the latest release of IDS assets, with an updated Sketch toolkit, fonts, icons, and more.</p>
            <a
              class="ids-btn ids-btn--primary"
              href="https://github.com/infor-design/design-system/releases/latest"
              target="_blank"
            ><span class="ids-icon ids-icon--uplift" [inlineSVG]="'../../assets/svgs/icon-download.svg'"></span>View on GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row row--6 row--feedback">
  <div class="row--container">
    <div class="ids-row">
      <div class="ids-row--col-sm-10 ids-row--offset-sm-2">
        <div class="ids-row">
          <div class="ids-row--col-sm-7 row--feedback--text">
            <h3>Share Your Feedback</h3>
            <p>Tell us what's helpful or how we can improve IDS.</p>
          </div>
          <div class="ids-row--col-sm-3 ids-row--offset-sm-2 row--feedback--button">
            <a class="ids-btn ids-btn--outline--white" href="https://github.com/infor-design/design-system/issues/new" target="_blank">Let us know</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<site-footer></site-footer >
