<div class="search-page page-content">
  <div class="ids-row ids-container">
    <div class="ids-row--col-md-6 ids-row--offset-md-3">

      <div class="ids-form-group">
        <form #searchForm="ngForm" (submit)="handleQuery(searchForm.value)">
          <div class="ids-form-group">
            <label for="searchInput">Search</label>
            <div class="ids-form-controls--horizontal">
              <input #searchInput [(ngModel)]="query" name="query" type="text" class="ids-form-control" id="searchInput"
                placeholder="Search" appInputAutoFocus>
              <button class="ids-btn ids-btn--primary">Search</button>
            </div>
          </div>
        </form>
      </div>

      <ul class="ids-list">
        <ng-container *ngIf="searchResults">
          <li class="ids-list--item ids-list--item-search" *ngFor="let result of searchResults">
            <h3>
              <a routerLink="{{result.url}}">
                {{result.title}} {{ result.version && '&middot; ' + result.library + ' ' + result.version }}
              </a>
            </h3>
            <small><strong>Found In:</strong> <a routerLink="{{result.url}}">{{this.domain}}{{result.url}}</a></small>
            <p class="search-highlight" *ngIf="result.highlight" [innerHTML]="truncateHighlight(result.highlight, 25, '...')"></p>
          </li>
        </ng-container>
        <ng-container *ngIf="noResults">
          <p>No Results Found.</p>
        </ng-container>
      </ul>

    </div>
  </div>
</div>

<site-footer></site-footer>
