files:  
  "/opt/elasticbeanstalk/hooks/appdeploy/post/91_create_util_scripts.sh":
    mode: "000775"
    owner: root
    group: root
    content: |
      #! /bin/bash

      set -u
      set -e

      # Clean out the old scripts first.
      # EB complains, suppress the warnings.
      rm -f /usr/local/bin/cert_renew.sh 2> /dev/null

      # Copy the new ones over.
      # Again suppress.
      yes | cp /var/app/current/src/scripts/eb/cert_renew.sh /usr/local/bin/ 2>/dev/null

      # Chmod them.
      chmod 775 -R /usr/local/bin/
