<header class="banner banner--home">
  <div class="ids-container ids-row">
    <div class="ids-row--col-sm-10 ids-row--offset-sm-1">

      <div class="ids-row--col-sm-5 banner--content">
        <h1>The Infor Design System</h1>
        <p>It's a set of use-case driven design practices, development tools, and support documentation to create a cohesive user experience across all Infor CloudSuite applications.</p>
        <a class="ids-btn ids-btn--default ids-btn--light" routerLink="/guidelines">Learn More</a>
      </div>

      <div class="banner--bg"></div>

    </div>
  </div>
</header>

<section class="section section--1">
  <div class="ids-container ids-row">
    <div class="ids-row--col-sm-10 ids-row--offset-sm-1">

      <div class="ids-row--col-md-4 ids-row--offset-md-4 text-align-center section--1--top">
        <h2 class="section-headline">Who is it for?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aliquid eius quam, deleniti dolorem sit.</p>
      </div>

      <div class="ids-row section--1--mid">

        <div class="ids-row--col-sm-5 ids-row--col-lg-4 text-align-center">
          <img src="/assets/site/assets/design.svg" alt="">
          <h2 class="section-headline">Design Guidelines</h2>
          <p>Guidelines covers general usage information and educational content about individual components.</p>
          <a class="ids-btn ids-btn--default ids-btn--light" routerLink="/guidelines">Learn More</a>
        </div>

        <div class="ids-row--col-sm-5 ids-row--offset-sm-2 ids-row--col-lg-4 ids-row--offset-lg-4 text-align-center col--border">
          <img src="/assets/site/assets/code.svg" alt="">
          <h2 class="section-headline">Code Docs</h2>
          <p>Code Docs provides technical details, code snippets and APIs to implement the components.</p>
          <a class="ids-btn ids-btn--default ids-btn--light" routerLink="/code/ids-web/latest">Learn More</a>
        </div>

      </div>

      <div class="ids-row">

        <div class="ids-row--col-md-4 ids-row--offset-md-4 text-align-center">
          <h2 class="section-headline">Design Principles</h2>
          <p>The Infor Design System has 4 principles that help create a shared mission, one that informs the best in class user experience.</p>
        </div>

      </div>

      <div class="ids-row section--1--btm">
        <div class="ids-row--col-md-10 ids-row--offset-md-1 section--1--btm--inner">

          <div>
            <img src="/assets/site/assets/square.svg" alt="Approachable">
            <span>Approachable</span>
          </div>

          <div>
            <img src="/assets/site/assets/circle.svg" alt="Focused">
            <span>Focused</span>
          </div>

          <div>
            <img src="/assets/site/assets/triangle.svg" alt="Relevant">
            <span>Relevant</span>
          </div>

          <div>
            <img src="/assets/site/assets/trapezoid.svg" alt="Perceptive">
            <span>Perceptive</span>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<section class="section section--2">
  <div class="ids-container ids-row">
    <div class="ids-row--col-sm-10 ids-row--offset-sm-1">

      <div class="ids-row--col-md-4 ids-row--offset-md-4 text-align-center section--2--top">
        <h2 class="section-headline">The Components</h2>
        <p>The Infor Design System components are the building blocks, and when assembled correctly, they create a cohesive and structured design.</p>
      </div>

      <div class="section--2--mid"><img src="/assets/site/assets/components.svg" alt=""></div>

      <div class="ids-row section--2--btm">

        <div class="ids-row--col-sm-5 ids-row--col-lg-4 text-align-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic atque recusandae, voluptates fuga quidem veritatis?</p>
          <a class="ids-btn ids-btn--primary ids-btn--dark" routerLink="#">See how to build</a>
        </div>

        <div class="ids-row--col-sm-5 ids-row--offset-sm-2 ids-row--col-lg-4 ids-row--offset-lg-4 text-align-center">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic atque recusandae, voluptates fuga quidem veritatis?</p>
          <a class="ids-btn ids-btn--primary ids-btn--dark" routerLink="#">See what you can build</a>
        </div>

      </div>

    </div>
  </div>
</section>

<section class="section section--3">
  <div class="ids-container ids-row">
    <div class="ids-row--col-sm-10 ids-row--offset-sm-1">

      <div class="ids-row--col-md-4 ids-row--offset-md-4 text-align-center section--3--top">
        <h2 class="section-headline">Just for developers</h2>
        <p>The Infor Design System components are the building blocks, and when assembled correctly, they create a cohesive and structured design.</p>
      </div>

      <div class="ids-row ids-row--gutter section--3--btm">
        <div class="ids-row--col-sm-4 section--block">
          <h3 class="section--block--headline">Pendo</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, suscipit!</p>
          <a routerLink="#0">Learn More</a>
        </div>
        <div class="ids-row--col-sm-4 section--block">
          <h3 class="section--block--headline">IDS</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, deleniti.</p>
          <a routerLink="#0">Learn More</a>
        </div>
        <div class="ids-row--col-sm-4 section--block">
          <h3 class="section--block--headline">Soho</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, deleniti.</p>
          <a routerLink="#0">Learn More</a>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="section section--4">
  <div class="ids-container ids-row">
    <div class="ids-row--col-sm-10 ids-row--offset-sm-1">

      <div class="ids-row--col-md-4 ids-row--offset-md-4 text-align-center section--4--top">
        <h2 class="section-headline">Tools and resources</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, adipisci?</p>
      </div>

      <div class="ids-row ids-row--gutter section--4--btm">
        <div class="ids-row--col-sm-4 text-align-center">
          <img src="/assets/site/assets/github-resource.svg" alt="">
          <h2 class="section-headline">GitHub</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet!</p>
          <a class="ids-btn ids-btn--primary ids-btn--dark" routerLink="#0">Follow Us</a>
        </div>
        <div class="ids-row--col-sm-4 ids-row--offset-sm-4 text-align-center col--border">
          <img src="/assets/site/assets/sketch-file.svg" alt="">
          <h2 class="section-headline">Sketch File</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi.</p>
          <a class="ids-btn ids-btn--primary ids-btn--dark" routerLink="#0">Download</a>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="section section--5">
  <div class="ids-container ids-row">
    <div class="ids-row--col-sm-10 ids-row--offset-sm-1">

      <div class="ids-row--col-md-4 ids-row--offset-md-4 text-align-center section--5--top">
        <h2 class="section-headline">FAQ's</h2>
        <p>Questions about the Infor Design System? See our FAQ page for more questions and answers.</p>
      </div>

      <div class="ids-row section--5--mid">
        <div class="ids-row--col-5">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, quas?</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, quas?</p>
        </div>

        <div class="ids-row--col-5 ids-row--offset-2">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, quas?</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis, quas?</p>
        </div>
      </div>

      <div class="section--5--btm text-align-center">
        <a class="ids-btn ids-btn--default ids-btn--light" routerLink="#0">Learn More</a>
      </div>

    </div>
  </div>
</section>
