.ids-btn--default.ids-btn--light {
  background-color: var(--theme-color-brand-primary-contrast);

  &:hover {
    background-color: var(--input-color-readonly-background);
  }
}

.ids-btn--outline--white {
  color: var(--theme-color-palette-white);
  border: 1px solid var(--theme-color-palette-white);

  &:visited {
    color: var(--theme-color-palette-white);
  }
}
