
.page-title {
  margin-bottom: 20px;
  margin-top: 0;
}

.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-header__buttons {
  margin-left: 0;
}

.page-header__buttons .ids-btn {
  width: 100%;
}

.page-section {
  margin-bottom: calc(var(--theme-number-spacing-base) * 12);
}

.page-section h1 {
  margin-top: 0;
}

.page-section .h2 {
  margin-bottom: 20px;
}

.page-section ul,
.page-section ol {
  overflow: hidden;
  position: relative;
}

.page-section img.inline-image--left-quarter {
  float: left;
  margin-bottom: var(--theme-number-spacing-base);
  margin-right: calc(var(--theme-number-spacing-base) * 3);
  margin-top: var(--theme-number-spacing-base);
  max-width: 50%;
}

.page-section img.inline-image--right-quarter {
  float: right;
  margin-bottom: var(--theme-number-spacing-base);
  margin-left: calc(var(--theme-number-spacing-base) * 3);
  margin-top: var(--theme-number-spacing-base);
  max-width: 50%;
}

.page-section img.image-row--inline {
  display: block;
  margin: 0 auto;
}

.page-section p,
.flexible-content p {
  margin-bottom: calc(var(--theme-number-spacing-base) * 4);
}

.page-section p + ul,
.flexible-content p + ul {
  margin-top: calc(var(--theme-number-spacing-base) * -4);
}

.page-section li,
.flexible-content li {
  list-style-position: outside;
  margin-left: 2rem;
}

.page-section-intro {
  padding: 80px 0;
}

/*
 * Flexible streamfield components
 */

.flexible-content {
  position: relative;
}

.flexible-content .bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.flexible-content .ids-row {
  position: relative;
  z-index: 1;
}

.flexible-content .hero-image {
  margin-bottom: calc(var(--theme-number-spacing-base) * 4);
}

.full-width {
  position: relative;
  text-align: center;
}

.full-width .ids-container {
  position: relative;
  z-index: 1;
}

.full-width--title {
  font-weight: var(--theme-number-font-weight-bold);
  margin-top: 0;
}

.full-width--hero-image {
  margin-bottom: calc(var(--theme-number-spacing-base) * 6);
}

.two-column--desktop {
  display: none;
}

.two-column--mobile {
  display: block;
}

.two-column .faux-columns {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.two-column .col {
  height: 100%;
  position: relative;
  width: 100%;
}

.two-column .two-column--content {
  margin-bottom: calc(var(--theme-number-spacing-base) * 6);
  position: relative;
  z-index: 1;
}

.two-column p {
  margin-bottom: calc(var(--theme-number-spacing-base) * 4);
}

.two-column .two-column--title {
  margin-top: calc(var(--theme-number-spacing-base) * 6);
}

.two-column--hero-image {
  width: 94px;
}

.two-col-text-image {
  padding: calc(var(--theme-number-spacing-base) * 20) 0;
}

.two-col-text-image .ids-container {
  position: relative;
  z-index: 1;
}

.two-col-text-image--image.right {
  order: 2;
}

.two-col-text-image--image img {
  max-width: 100%;
  width: 100%;
}

.grid-block {
  margin-bottom: calc(var(--theme-number-spacing-base) * 7);
}

.grid-block:last-child {
  margin-bottom: 0;
}

.grid-block--image {
  margin-bottom: calc(var(--theme-number-spacing-base) * 2);
}

.grid-block--title {
  font-size: 16px;
  font-weight: var(--theme-number-font-weight-bold);
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .page-header__buttons .ids-btn {
    width: auto;
  }

  .two-column .faux-columns {
    flex-direction: row;
  }

  .two-column .col {
    width: 50%;
  }

  .two-column .two-column--content {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 840px) {
  .page-header {
    flex-direction: row;
  }

  .page-header__buttons {
    margin-left: auto;
  }

  .page-section img.inline-image--left-half {
    float: left;
    margin-bottom: var(--theme-number-spacing-base);
    margin-right: calc(var(--theme-number-spacing-base) * 4);
    margin-top: var(--theme-number-spacing-base);
    max-width: 50%;
  }

  .page-section img.inline-image--left-quarter {
    margin-right: calc(var(--theme-number-spacing-base) * 4);
    max-width: 25%;
  }

  .page-section img.inline-image--right-half {
    float: right;
    margin-bottom: var(--theme-number-spacing-base);
    margin-left: calc(var(--theme-number-spacing-base) * 4);
    margin-top: var(--theme-number-spacing-base);
    max-width: 50%;
  }

  /* Float logos from code docs
   * https://stackoverflow.com/a/22683624
   */
  .page-section img[src$='#logo-float-right'] {
    float: right;
    margin-bottom: calc(var(--theme-number-spacing-base) * 2);
    margin-left: calc(var(--theme-number-spacing-base) * 2);
  }

  .page-section img.inline-image--right-quarter {
    margin-left: calc(var(--theme-number-spacing-base) * 4);
    max-width: 25%;
  }

  .two-column--desktop {
    display: block;
  }

  .two-column--mobile {
    display: none;
  }
}
