@media only screen and (min-width: 600px) {
  .sidebar {
    border-right: 1px solid #d9d9d9;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    padding-bottom: 150px;
    position: fixed;
  }
}

.sidebar--code {
  padding: calc(var(--theme-number-spacing-base) * 6) 0;
}

.ids-list--expandable {
  display: none;
}

.ids-list--expandable.ids-list--expanded {
  display: block;
}

.ids-list li:last-child .ids-list--heading-accordion {
  border-bottom: 1px solid var(--input-color-readonly-background);
}

.ids-list--heading-accordion {
  border-bottom: none;
  position: relative;
}

.ids-list--heading-accordion .ids-icon {
  fill: var(--theme-color-font-info);
  position: absolute;
  right: calc(var(--theme-number-spacing-base) * 3);
  transform: rotate(0deg) translateY(30%);
}

.ids-list--heading-accordion:hover .ids-icon {
  fill: var(--theme-color-font-base);
}

.ids-list--heading-accordion.ids-list--heading-accordion--active {
  border-bottom: 1px solid var(--input-color-readonly-background);
}

.ids-list--heading-accordion.ids-list--heading-accordion--active .ids-icon {
  transform: rotate(-180deg) translateY(-30%);
}

.library-select-group {
  padding: 0 16px;
}
