.social-media-links {
  display: flex;
  margin-top: calc(var(--theme-number-spacing-base) * 5);
}

.social-media-link {
  display: block;
  margin-right: var(--theme-number-spacing-base);

  @media only screen and (min-width: $breakpoint-sm) {
    margin-right: calc(var(--theme-number-spacing-base) * 2);
  }

  .background {
    fill: var(--body-color-primary-background);
  }

  .emblem {
    fill: var(--body-color-primary-font);
  }

  &:hover {
    .background {
      fill: var(--list-color-item-hover-background);
    }

    .emblem {
      fill: var(--theme-color-brand-primary-base);
    }
  }
}
