<ng-container>

      <header class="page-header">
        <h1 class="page-title">{{pageContent?.title}}</h1>
        <h4 *ngIf="page?.fka">Formerly known as: {{page?.fka}}</h4>
        <a class="ids-btn ids-btn--primary btn--custom--crosslink" *ngIf="pageContent.cross_link" routerLink="/code/ids-web/latest/{{pageContent.cross_link}}">
          <svg class="ids-icon" focusable="false" aria-hidden="true" role="presentation" viewBox="0 0 26 12">
            <g stroke="none" stroke-width="1"  fill-rule="evenodd" opacity="0.8">
              <g transform="translate(0.000000, 1.000000)">
                <path d="M20.0472,0.0942857143 C19.9394,0.0435714286 19.8274,0 19.7,0 C19.3136,0 19,0.32 19,0.714285714 C19,0.979285714 19.1484,1.20142857 19.3584,1.32428571 L24.138,4.99642857 L19.2933,8.70428571 C19.1232,8.845 19,9.04642857 19,9.28571429 C19,9.68071429 19.3136,10 19.7,10 C19.8519,10 19.9849,9.94 20.099,9.85642857 L25.7067,5.58071429 C25.8768,5.44142857 26,5.24 26,5 C26,4.735 25.8523,4.51285714 25.6416,4.38928571 L20.0472,0.0942857143 Z"
                   fill-rule="nonzero"></path>
                <path d="M1.0472,0.0942857143 C0.9394,0.0435714286 0.8274,0 0.7,0 C0.3136,0 4.4408921e-16,0.32 4.4408921e-16,0.714285714 C4.4408921e-16,0.979285714 0.1484,1.20142857 0.3584,1.32428571 L5.138,4.99642857 L0.2933,8.70428571 C0.1232,8.845 4.4408921e-16,9.04642857 4.4408921e-16,9.28571429 C4.4408921e-16,9.68071429 0.3136,10 0.7,10 C0.8519,10 0.9849,9.94 1.099,9.85642857 L6.7067,5.58071429 C6.8768,5.44142857 7,5.24 7,5 C7,4.735 6.8523,4.51285714 6.6416,4.38928571 L1.0472,0.0942857143 Z"
                   fill-rule="nonzero" transform="translate(3.500000, 5.000000) rotate(-180.000000) translate(-3.500000, -5.000000) "></path>
                <path d="M15.5,0.5 L10.5,9.5" id="Line-2" stroke-width="1.35" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </g>
          </svg>
          <span>View Code Docs</span>
        </a>
      </header>

      <section *ngIf="pageContent.descriptors" class="page-section">

        <p>
          <span *ngIf="pageContent.descriptors.what_it_does" class="what-it-does">
            {{pageContent.descriptors.what_it_does.description}}
          </span>
          <span *ngIf="pageContent.descriptors.what_user_can_do" class="what-user-can-do">
            {{pageContent.descriptors.what_user_can_do.description}}
          </span>
          <span *ngIf="pageContent.descriptors.when_to_use_it" class="when-to-use-it">
            {{pageContent.descriptors.when_to_use_it.description}}
          </span>
        </p>

      </section>

      <section *ngIf="pageContent.types.length > 0" class="page-section page-section--types">

        <h1 class="h2">Types</h1>
        <p>A type extends or alters a component's definition.</p>

        <table>
          <thead>
            <th>Type</th>
            <th>When to use it</th>
            <th>Example</th>
          </thead>
          <tbody>
            <ng-container *ngFor="let type of pageContent.types">
              <tr [ngClass]="(type.value.image_type === 'full-width') ? 'row--full-image' : ''">
                <td><strong>{{type.value.name}}</strong></td>
                <td>{{type.value.detail}}</td>
                <td *ngIf="type.value.image_type === 'inline'">
                  <img src="{{type.value.image.file}}" alt="{{type.value.image.title}}">
                </td>
              </tr>
              <tr *ngIf="type.value.image_type === 'full-width'" class="image-row--full">
                <td colspan="3">
                  <img src="{{type.value.image.file}}" alt="{{type.value.image.title}}">
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

      </section>

      <section *ngIf="pageContent.options.length > 0" class="page-section page-section--options">

        <h1 class="h2">Options</h1>
        <p>Options can be added to configure a component. Many options can be added to a component and all options can be used for all types, unless where specifically noted.</p>

        <table>
          <thead>
            <th>Option</th>
            <th>Details</th>
          </thead>
          <tbody>
            <tr *ngFor="let option of pageContent.options">
              <td><strong>{{option.value.name}}</strong></td>
              <td>{{option.value.detail}}</td>
            </tr>
          </tbody>
        </table>

      </section>

      <section *ngIf="pageContent.states.length > 0" class="page-section page-section--states">

        <h1 class="h2">States</h1>
        <ul>
          <li *ngFor="let state of pageContent.states">{{state.value.state}}</li>
        </ul>

      </section>

      <ng-container *ngFor="let body of pageContent.body">
        <h2 class="page-section" *ngIf="body.type === 'heading'">{{body?.value}}</h2>
        <img class="page-section" *ngIf="body.type === 'image'" src="{{body?.value.file}}" alt="{{streamfield?.value.title}}">
        <section class="page-section" *ngIf="body.type === 'markdown'" [innerHTML]="body?.value"></section>
      </ng-container>

</ng-container>
