<ngx-loading-bar [color]="'#3770ff'" [includeSpinner]="false"></ngx-loading-bar>

<div class="site" [class.home]="home" [class.code-section]="codeSection" [class.blog]="blog">

  <div class="ids-visuallyhidden" [inlineSVG]="'/assets/ids-css/svgs/ids-icons.svg'"></div>

  <app-header></app-header>

  <div [ngClass]="{'ids-row' : useGrid}">
    <sidebar-nav-code [hidden]="!codeSection" class="sidebar-nav-comp sidebar-nav-code ids-row--col-sm-3 ids-row--col-xl-2"></sidebar-nav-code>
    <sidebar-nav [hidden]="codeSection || !useGrid" class="sidebar-nav-comp sidebar-nav-cms ids-row--col-sm-3 ids-row--col-xl-2" [sidebarData]="sidebarNav" [section]="section"></sidebar-nav>
    <router-outlet></router-outlet>
  </div>

</div>
