<ngx-loading-bar [color]="'#3770ff'" [includeSpinner]="false"></ngx-loading-bar>

<div *ngIf="showSplashPage" style="display: flex; justify-content: center; align-items: center; height: 100vh; margin-top: -78px;">
  <h1 style="margin: 0;">Coming soon...</h1>
</div>

<div class="site" [class.home]="home" [class.code-section]="codeSection" *ngIf="!showSplashPage">

  <div class="ids-visuallyhidden" [inlineSVG]="'/assets/ids-css/svgs/ids-icons.svg'"></div>

  <app-header></app-header>

  <div [ngClass]="{'ids-row' : useGrid}">
    <sidebar-nav-code [hidden]="!codeSection" class="sidebar-nav-comp sidebar-nav-code ids-row--col-sm-3 ids-row--col-xl-2"></sidebar-nav-code>
    <sidebar-nav [hidden]="codeSection" class="sidebar-nav-comp sidebar-nav-cms ids-row--col-sm-3 ids-row--col-xl-2" [sidebarData]="sidebarNav" [section]="section"></sidebar-nav>
    <router-outlet></router-outlet>
  </div>

</div>

<footer class="site-footer">
  <div class="ids-container">
    <p class="site-footer--title">The Infor Design System</p>
    <nav class="site-footer--nav">
      <a *ngFor="let navItem of footerNav" [routerLink]="['', navItem.meta.slug]">{{navItem.title}}</a>
    </nav>
    <p class="site-footer--soho-link">
      <a href="">Looking for SohoXi?</a>
    </p>
  </div>
</footer>
