<section [ngClass]="{'page-section': sectionClassName}">

  <table>
    <thead>
      <th>
        Design Token &nbsp;
        <a class="table-header--description" href="https://github.com/infor-design/design-system/blob/1.0.x/README.md"
          target="_blank">Learn More</a>
      </th>
      <th>Color</th>
      <th>Value</th>
    </thead>
    <tbody>
      <tr *ngFor="let token of idsTokenProperties[tokensCategory]">
        <td>
          <code>{{token.name}}</code>
        </td>
        <td>
          <div *ngIf="token.type === 'color'" class="site-spec--color" [ngStyle]="token.value && {'background-color': ''+ token.value +'' }"
            title="{{token.value}}"></div>
        </td>
        <td>
          <code *ngIf="token.type === 'color'">{{token.originalValue}}</code>
          <code *ngIf="token.type !== 'color'">{{token.value}}</code>
        </td>
      </tr>
    </tbody>
  </table>

</section>
