<section class="flexible-content full-width" [ngStyle]="backgroundColor && { 'background-color': '#' + backgroundColor + '' }">
  
  <div class="bg-image" [ngStyle]="backgroundImage && {'background-image': 'url(' + backgroundImage + ')'}"></div>

  <div class="iux-container" [ngStyle]="textAlign && {'text-align': ''+ textAlign +'' }">
    <img class="hero-image" *ngIf="heroImage" src="{{heroImage}}" alt="{{heroImageTitle}}">
    <h1 [ngStyle]="invertTextColor && {'color': '#ffffff'}">{{title}}</h1>
    <p [ngStyle]="invertTextColor && {'color': '#ffffff'}">{{content}}</p>
    <a class="btn btn--default" *ngIf="ctaText" routerLink="{{ctaLink}}">{{ctaText}}</a>
  </div>

</section>