<aside class="sidebar sidebar--code">

  <div class="ids-form-group library-select-group">
    <label for="select-library">Library</label>
    <select #library (change)="onLibraryChange(library.value)" id="select-library" class="ids-form-control">
      <option *ngFor="let library of libraryPaths" value="/{{section}}/{{library.path}}/latest" [selected]="library.path == selectedLibrary">
        {{library.name}}
      </option>
    </select>
  </div>

  <div class="ids-form-group library-select-group">
    <label for="select-version">Version</label>
    <select #option (change)="onVersionChange(option.value)" id="select-version" class="ids-form-control">
      <option *ngFor="let version of versionPaths" value="/{{section}}{{version.full}}{{element}}" [selected]="version.full == selectedVersion">
        {{ version.label }}
      </option>
    </select>
  </div>

  <nav class="sidebar-nav">

    <ul class="ids-list ids-list--hover">

      <li *ngFor="let child of sidebarNav; let i = index;">

        <a *ngIf="!child.pages" class="ids-list--item" routerLinkActive="ids-list--item--selected" routerLink="/{{section}}/{{sidebarPath}}/{{child.slug}}">{{child.name}}</a>
        <span *ngIf="child.pages" (click)="toggleAccordion(i)" class="ids-list--item ids-list--heading-accordion"
          [ngClass]="{ 'ids-list--heading-accordion--active' : !expandedLevel1[i] }">
          {{child.name}}
          <svg class="ids-icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon_expand"></use>
          </svg>
        </span>

        <ul #expandableList *ngIf="child.pages" class="ids-list ids-list--expandable" [ngClass]="{ 'ids-list--expanded' : !expandedLevel1[i] }">

          <li *ngFor="let level_2 of child.pages; let i = index;">

            <a *ngIf="!level_2.pages" class="ids-list--item" routerLinkActive="ids-list--item--selected" routerLink="/{{section}}/{{sidebarPath}}/{{level_2.slug}}">
              {{level_2.name}}
            </a>

            <span *ngIf="level_2.pages" class="ids-list--item ids-list--heading">
              {{level_2.name}}
            </span>

            <ul *ngIf="level_2.pages" class="ids-list ids-list--expandable ids-list--expanded">
              <li *ngFor="let level_3 of level_2.pages">
                <a class="ids-list--item" routerLinkActive="ids-list--item--selected" routerLink="/{{section}}/{{sidebarPath}}/{{level_3.slug}}">{{level_3.name}}</a>
              </li>
            </ul>

          </li>

        </ul>

      </li>
    </ul>

  </nav>

</aside>
