
<div *ngIf="!notFound" (mouseenter)="!widgetHovered ? captureHover($event) : null" class="feedback-widget">
  <fieldset class="ids-form-group ids-form-group--feedback">
    <div class="ids-form-group--feedback-container">
      <legend>Was this helpful?</legend>
      <div class="ids-form-radio--feedback">
        <input #thumbsDown type="radio" name="thumb" id="thumbs-down" value="thumbs-down" (change)="submitThumb(thumbsDown.value)">
        <label class="ids-icon--thumbs-down" for="thumbs-down">Thumbs Down</label>
      </div>
      <div class="ids-form-radio--feedback">
        <input #thumbsUp type="radio" name="thumb" id="thumbs-up" value="thumbs-up" (change)="submitThumb(thumbsUp.value)">
        <label class="ids-icon--thumbs-up" for="thumbs-up">Thumbs Up</label>
      </div>
    </div>
    <div class="ids-info-block">
      <small>{{displayThumbsUp}} out of {{displayTotal}} people found this helpful.</small>
    </div>
  </fieldset>

  <div [hidden]="!showAdditional" class="feedback-widget--additional">
    <form #feedbackForm="ngForm" (submit)="submitFeedback(feedbackForm.value)">
      <div class="ids-form-group">
        <label for="type-comment">Thanks! Any additional comments or suggestions?</label>
        <textarea
          #feedbackText="ngModel"
          name="comment"
          [(ngModel)]="comment"
          (keyup)="characterCounter(feedbackText.value)"
          id="type-comment"
          class="ids-form-control"
          placeholder="Type comment here"
          rows="3"
          aria-label="Type comment here"
          maxlength="1500"
          required></textarea>
        <p id="helpBlock" class="ids-info-block">{{charactersLeft}} characters remaining</p>
      </div>
      <div class="ids-row">
        <div class="ids-form-group ids-row--col-md-6" [ngClass]="{'has-error': email.errors}">
          <label for="feedback-email">Your Email (optional)</label>
          <input
            #email="ngModel"
            name="userEmail"
            type="email"
            [(ngModel)]="userEmail"
            class="ids-form-control"
            placeholder="Type email here"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            >
            <ng-container *ngIf="email.invalid && (email.dirty || email.touched)">
              <p *ngIf="email.errors" class="ids-info-block">Must provide valid email.</p>
            </ng-container>
        </div>
      </div>
      <button [disabled]="!feedbackForm.valid" type="submit" class="ids-btn ids-btn--primary">Submit</button>
    </form>
  </div>

  <p [hidden]="!commentSubmitted">Thanks for your feedback!</p>

</div>
