
<div (mouseenter)="!widgetHovered ? captureHover($event) : null" class="feedback-widget">
  <fieldset class="ids-form-group ids-form-group--feedback">
    <div class="ids-form-group--feedback-container">
      <legend>Was this helpful?</legend>
      <div class="ids-form-radio--feedback">
        <input #thumbsDown type="radio" name="thumb" id="thumbs-down" value="thumbs-down" (change)="submitThumb(thumbsDown.value)">
        <label class="ids-icon--thumbs-down" for="thumbs-down">Thumbs Down</label>
      </div>
      <div class="ids-form-radio--feedback">
        <input #thumbsUp type="radio" name="thumb" id="thumbs-up" value="thumbs-up" (change)="submitThumb(thumbsUp.value)">
        <label class="ids-icon--thumbs-up" for="thumbs-up">Thumbs Up</label>
      </div>
    </div>
  </fieldset>

  <div [hidden]="!showAdditional" class="feedback-widget--additional">
    <form #feedbackForm (submit)="submitFeedback($event, typeComment.value)">
      <div class="ids-form-group">
        <label for="type-comment">Thanks! Any additional comments or suggestions?</label>
        <textarea #typeComment id="type-comment" class="ids-form-control" placeholder="Type comment here" rows="3" aria-label="Type comment here" (keyup)="characterCounter(typeComment.value)"  maxlength="1500"></textarea>
        <p id="helpBlock" class="ids-info-block">{{charactersLeft}} characters remaining</p>
      </div>
      <button type="submit" class="ids-btn ids-btn--primary">Submit</button>
    </form>
  </div>

  <p [hidden]="!commentSubmitted">Thanks for your feedback!</p>

</div>
