<aside>
  <ng-content></ng-content>

  <nav class="sidebar-nav sidebar-nav-list">
    <ul class="ids-list ids-list--hover">
      <li><a class="ids-list--item" [routerLink]="['.']" routerLinkActive="ids-list--item--selected"
          [routerLinkActiveOptions]="{exact: true}" (click)="closeSidebar()">{{parentTitle | titlecase}}</a></li>

      <li *ngFor="let item of sidebarNav | sortSidebar: 'title'; let i = index">
        <span *ngIf="item.meta.children.children_count > 0" (click)="helpers.toggleAccordion(i, expandedLevel1)"
          class="ids-list--heading-accordion ids-list--heading-accordion--active"
          [class.ids-list--heading-accordion--active]="!expandedLevel1[i]">
          {{item.title}}
          <svg class="ids-icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon_expand"></use>
          </svg>
        </span>

        <a *ngIf="item.meta.children.children_count <= 0" class="ids-list--item" routerLink="{{item.meta.slug}}"
          routerLinkActive="ids-list--item--selected" (click)="closeSidebar()">{{item.title}}</a>

        <ul class="ids-list ids-list--expandable" [class.ids-list--expanded]="!expandedLevel1[i]">
          <ng-container *ngFor="let level_2 of item.meta.children.children | sortSidebar: 'title'; let i = index;">
            <li *ngIf="level_2.show_in_menus === true">

              <a class="ids-list--item" routerLinkActive="ids-list--item--selected"
                routerLink="{{level_2.relative_url}}" (click)="closeSidebar()">
                {{level_2.title}}
              </a>

            </li>
          </ng-container>
        </ul>
      </li>

    </ul>
  </nav>
</aside>

