<section class="flexible-content two-col-text-image" [ngStyle]="backgroundColor && { 'background-color': '#' + backgroundColor + '' }">

  <div class="bg-image" [ngStyle]="backgroundImage && {'background-image': 'url(' + backgroundImage + ')'}"></div>

  <div class="ids-row ids-container">
    <div class="two-col-text-image--image ids-row--col-md-4"
      [ngClass]="{'right' : imageAlign === 'right'}">
      <img *ngIf="image" src="{{image}}" alt="{{imageTitle}}">
    </div>
    <div class="two-col-text-image--content ids-row--col-md-6 ids-row--offset-md-1">
      <h1 class="page-section-title" [ngStyle]="invertTextColor && {'color': '#ffffff'}">{{title}}</h1>
      <p [ngStyle]="invertTextColor && {'color': '#ffffff'}" [innerHTML]="content"></p>
      <ng-template [ngIf]="ctaIsExternalUrl">
        <a class="ids-btn ids-btn--default" *ngIf="ctaText" [ngClass]="invertTextColor ? 'btn--custom--inverted' : 'btn--custom--solid'"
          [href]="ctaLink" target="_blank">
          {{ctaText}}
        </a>
      </ng-template>

      <ng-template [ngIf]="!ctaIsExternalUrl">
        <a class="ids-btn ids-btn--default" *ngIf="ctaText" [ngClass]="invertTextColor ? 'btn--custom--inverted' : 'btn--custom--solid'"
          routerLink="{{ctaLink}}">
          {{ctaText}}
        </a>
      </ng-template>
    </div>
  </div>

</section>
