<aside class="sidebar">
  <nav class="sidebar-nav" [@moveIn]="loading">
    <ul class="ids-list ids-list--hover">
      <li *ngFor="let section of sidebarNav">
        <a *ngIf="!section.pages" class="ids-list--item" routerLink="/code/{{sidebarPath}}/{{section.slug}}" routerLinkActive="ids-list--item--selected">{{section.name}}</a>
        <span *ngIf="section.pages" class="ids-list--item ids-list--heading-accordion">{{section.name}}</span>
        <ul *ngIf="section.pages" class="ids-list ids-list--expandable">
          <li *ngFor="let child of section?.pages">
            <a *ngIf="!child.pages" class="ids-list--item" routerLink="/code/{{sidebarPath}}/{{child.slug}}" routerLinkActive="ids-list--item--selected">{{child.name}}</a>
            <span *ngIf="child.pages" class="ids-list--item ids-list--heading">{{child.name}}</span>
            <ul *ngIf="child.pages" class="ids-list ids-list--expandable">
              <li *ngFor="let childLevel2 of child.pages">
                <a class="ids-list--item" routerLink="/code/{{sidebarPath}}/{{childLevel2.slug}}" routerLinkActive="ids-list--item--selected">{{childLevel2.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
