
@media only screen and (min-width: 600px) {
  :host {
    border-right: 1px solid #d9d9d9;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    padding-bottom: 150px;
    position: fixed;
  }
}

.ids-list--expandable {
  display: none;
}

.ids-list--expandable.ids-list--expanded {
  display: block;
}

.ids-list li:last-child .ids-list--heading-accordion {
  border-bottom: 1px solid var(--input-color-readonly-background);
}

.ids-list--heading-accordion {
  border-bottom: none;
  position: relative;
}

.ids-list--heading-accordion.ids-list--heading-accordion--active {
  border-bottom: 1px solid var(--input-color-readonly-background);
}
