<aside class="sidebar--code">
  <div class="ids-form-group library-select-group">
    <label for="select-library">Library</label>
    <select #library (change)="onLibraryChange(library.value)" id="select-library" class="ids-form-control">
      <option *ngFor="let library of libraries" value="/code//{{library.path}}/latest" [selected]="library.path == currentLibrary">
        {{library.name}}
      </option>
    </select>
  </div>

  <div class="ids-form-group library-select-group">
    <label for="select-version">Version</label>
    <select #option (change)="onVersionChange(option.value)" id="select-version" class="ids-form-control">
      <option *ngFor="let version of versionPaths" value="/code/{{version.full}}{{element}}" [selected]="version.label == currentVersion">
        {{ version.label }}
      </option>
    </select>
  </div>

  <nav class="sidebar-nav">
    <ul class="ids-list ids-list--hover">
      <li *ngFor="let section of sidebarNav; let i = index;">
        <a *ngIf="!section.pages" class="ids-list--item" routerLink="/code/{{sidebarPath}}/{{section.slug}}" routerLinkActive="ids-list--item--selected">{{section.name}}</a>
        <span
          *ngIf="section.pages"
          class="ids-list--item ids-list--heading-accordion"
          (click)="helpers.toggleAccordion(i, expandedLevel1)"
          [ngClass]="{ 'ids-list--heading-accordion--active' : !expandedLevel1[i] }"
        >
          {{section.name}}
          <svg class="ids-icon" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon_expand"></use>
          </svg>
        </span>
        <ul
          *ngIf="section.pages"
          class="ids-list ids-list--expandable"
          [ngClass]="{ 'ids-list--expanded' : !expandedLevel1[i] }"
        >
          <li *ngFor="let child of section?.pages">
            <a *ngIf="!child.pages" class="ids-list--item" routerLink="/code/{{sidebarPath}}/{{child.slug}}" routerLinkActive="ids-list--item--selected">{{child.name}}</a>
            <span *ngIf="child.pages" class="ids-list--item ids-list--heading">{{child.name}}</span>
            <ul *ngIf="child.pages" class="ids-list ids-list--expandable ids-list--expanded">
              <li *ngFor="let childLevel2 of child.pages">
                <a class="ids-list--item" routerLink="/code/{{sidebarPath}}/{{childLevel2.slug}}" routerLinkActive="ids-list--item--selected">{{childLevel2.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
