<section class="flexible-content full-width page-section" [ngStyle]="backgroundColor && { 'background-color': '#' + backgroundColor + '' }">

  <div class="bg-image" [ngStyle]="backgroundImage && {'background-image': 'url(' + backgroundImage + ')'}"></div>

  <div class="ids-row">
    <div [ngClass]="{ 'ids-row--col-sm-10' : !hasSidebar, 'ids-row--col-md-12' : hasSidebar }"  [ngStyle]="textAlign && {'text-align': ''+ textAlign +'' }">
      <h2 class="full-width--title" [ngStyle]="invertTextColor && {'color': '#ffffff'}">{{title}}</h2>
      <p [ngStyle]="invertTextColor && {'color': '#ffffff'}" [innerHTML]="content"></p>
      <img class="full-width--hero-image" *ngIf="heroImage" src="{{heroImage}}" alt="{{heroImageTitle}}">
        <ng-template [ngIf]="ctaIsExternalUrl">
          <a class="ids-btn ids-btn--default"
            *ngIf="ctaText"
            [ngClass]="invertTextColor ? 'btn--custom--inverted' : 'btn--custom--solid'"
            [href]="ctaLink"
            target="_blank">
            {{ctaText}}
          </a>
        </ng-template>

        <ng-template [ngIf]="!ctaIsExternalUrl">
          <a class="ids-btn ids-btn--default"
            *ngIf="ctaText"
            [ngClass]="invertTextColor ? 'btn--custom--inverted' : 'btn--custom--solid'"
            routerLink="{{ctaLink}}">
            {{ctaText}}
          </a>
        </ng-template>
    </div>
  </div>

</section>
