
<app-page-not-found *ngIf="notFound"></app-page-not-found>

<ng-container *ngIf="!loading">

  <div *ngIf="!notFound">

    <ng-container *ngIf="flexibleContent">
      
      <ng-container *ngFor="let section of flexibleContent">
        
        <full-width *ngIf="section.type === 'fullWidth'"
          [title]="section.value.title"
          [content]="section.value.content"
          [textAlign]="section.value.text_align"
          [invertTextColor]="section.value.invert_text_color"
          [heroImage]="section.value.hero_image?.file"
          [heroImageTitle]="section.value.hero_image?.title"          
          [backgroundImage]="section.value.background_image?.file"
          [backgroundColor]="section.value.background_color"
          [ctaText]="section.value.cta_text"
          [ctaLink]="section.value.cta_link"               
        ></full-width>

      </ng-container>

    </ng-container>
    
  </div>

</ng-container>