<aside class="sidebar">
  <nav class="sidebar-nav">
    <ul class="ids-list--plain">
      <li class="sidebar-nav__group" *ngFor="let child of sidebarNav">
        <span class="sidebar-nav__child-item">
          {{child.title}}
        </span>
        <ul class="ids-list--plain" *ngIf="child.children.length > 0">
          <li *ngFor="let grandChild of child.children">
            <a class="sidebar-nav__grandchild-item" routerLink="{{grandChild.relative_url}}">
              {{grandChild.title}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
