<aside class="sidebar sidebar--guidelines">
  <nav class="sidebar-nav-list">

    <span class="ids-list--heading">
      {{sectionTitle}}
    </span>

    <ul class="ids-list">
      <ng-container *ngFor="let child of sidebarNav; let i = index">

        <li *ngIf="level_2">
          <span (click)="expandedLevel1[i] = !expandedLevel1[i]" class="ids-list--item ids-list--heading" [class.ids-list--heading--active]="expandedLevel1[i]">
            {{child.title}}
            <svg class="ids-icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon_expand"></use>
            </svg>
          </span>
          <ul class="ids-list ids-list--expandable" [class.ids-list--expanded]="expandedLevel1[i]">
            <li *ngFor="let level_2 of child.children; let i = index">
              <a *ngIf="level_2.children.length <= 0" class="ids-list--item" routerLinkActive="ids-list--item--selected" routerLink="{{level_2.relative_url}}">
                {{level_2.title}}
              </a>
              <span (click)="expandedLevel2[i] = !expandedLevel2[i]" *ngIf="level_2.children.length > 0" class="ids-list--item ids-list--heading" [class.ids-list--heading--active]="expandedLevel2[i]">
                {{level_2.title}}
                <svg class="ids-icon" focusable="false" aria-hidden="true" role="presentation">
                  <use xlink:href="#icon_expand"></use>
                </svg>
              </span>
              <ul class="ids-list ids-list--expandable" [class.ids-list--expanded]="expandedLevel2[i]">
                <li *ngFor="let level_3 of level_2.children">
                  <a class="ids-list--item" routerLinkActive="ids-list--item--selected" routerLink="{{level_3.relative_url}}">{{level_3.title}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li *ngIf="!level_2">
          <a class="ids-list--item" routerLinkActive="ids-list--item--selected" routerLink="{{child.relative_url}}">
            {{child.title}}
          </a>
        </li>

      </ng-container>

    </ul>
  </nav>
</aside>
