<div class="ids-row">
  <sidebar-cms
    class="sidebar ids-row--col-sm-3 ids-row--col-xl-2"
    [@slideInLeft]="sidebarOpen"
    (closeSB)="closeSidebar()"
  >
    <button class="ids-btn ids-btn--link btn--close-sidebar" (click)="closeSidebar()">
      <svg class="ids-icon" focusable="false" aria-hidden="true" role="presentation">
        <use xlink:href="#icon-close" />
      </svg>
    </button>
  </sidebar-cms>
  <button class="ids-btn ids-btn--link btn--open-sidebar" (click)="openSidebar()">
    <svg class="ids-icon" focusable="false" aria-hidden="true" role="presentation">
      <use xlink:href="#icon-left-arrow" />
    </svg>
    <span>Menu</span>
  </button>
  <div class="ids-row--offset-xl-2 ids-row--offset-sm-3 ids-row--col-sm-9 ids-row--col-xl-10">
    <router-outlet></router-outlet>
    <site-footer></site-footer>
  </div>
</div>
