<div *ngFor="let streamfield of streamfields">
    
  <content-banner 
    *ngIf="streamfield.type === 'ContentBanner'"
    [image]="streamfield.value.image != null ? streamfield.value.image : 'http://via.placeholder.com/350x350'"
    [header]="streamfield.value.header"
    [copy]="streamfield.value.copy"
    [link]='streamfield.value.button.link'
    [label]='streamfield.value.button.label'
    >
  </content-banner>

  <one-column-banner
    *ngIf="streamfield.type === 'OneColumnBanner'"
    [header]="streamfield.value.header"
    [intro]="streamfield.value.intro"
    [image]="streamfield.value.image != null ? streamfield.value.image : 'http://via.placeholder.com/850x850'"    
  >
  </one-column-banner>
  
</div>