@import '../../../assets/css/breakpoints.scss';
@import '../../../assets/css/variables.scss';

.toc {
  background-color: var(--theme-color-palette-white);
  border-left: 1px solid $graphite-lightest;
  margin-top: calc(var(--theme-number-spacing-base) * 6);
  max-width: 300px;
  position: fixed;
  right: calc(var(--theme-number-spacing-base) * 2);
  top: calc(var(--theme-number-spacing-base) * 6 + 56px);
  z-index: 10000;

  li {
    margin-left: 0;
  }

  &.toc--desktop {
    display: none;

    @media screen and (min-width: $breakpoint-xl) {
      display: block;
    }
  }

  &.toc--mobile {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
    right: 0;
    top: calc(var(--theme-number-spacing-base) * 6 + 120px);

    @media screen and (min-width: $breakpoint-xl) {
      display: none;
    }
  }
}

.toc-toggle--mobile {
  background: var(--theme-color-palette-white);
  border: none;
  border-radius: var(--theme-number-border-radius-sm) 0 0 var(--theme-number-border-radius-sm);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: block;
  margin-top: calc(var(--theme-number-spacing-base) * 6);
  padding: calc(var(--theme-number-spacing-base) * 2);
  position: fixed;
  right: 0;
  top: calc(var(--theme-number-spacing-base) * 6 + 56px);

  @media screen and (min-width: $breakpoint-xl) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  svg {
    height: 16px;
    width: 16px;
  }
}
