@import '../../../../node_modules/ids-identity/dist/tokens/web/theme-uplift.custom-properties.css';

.toc {
  border-left: 1px solid var(--input-color-readonly-border);
  display: none;
  font-size: 1.4rem;
  min-width: 200px;
  position: fixed;
  right: calc(var(--theme-number-spacing-base) * 2);
  top: calc(var(--theme-number-spacing-base) * 6 + 56px);
}

@media only screen and (min-width: 1440px) {
  .toc {
    display: block;
  }
}
