<main class="page-content">
  <app-component-loader></app-component-loader>
</main>

<ng-template #homeTemplate>
  <app-home [page]="page"></app-home>
</ng-template>

<ng-template #landingTemplate>
  <app-landing-page [page]="page"></app-landing-page>
</ng-template>

<ng-template #docsLandingTemplate>
  <app-landing-page [page]="page"></app-landing-page>
</ng-template>

<ng-template #coreTemplate>
  <div class="ids-row">
    <div class="ids-row--col-sm-10 ids-row--col-xl-7 ids-row--offset-sm-1">
      <div class="ids-container">
        <app-core-content-page [page]="page" [loading]="loading"></app-core-content-page>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #elementsTemplate>
  <div class="ids-row">
    <div class="ids-row--col-sm-10 ids-row--col-xl-7 ids-row--offset-sm-1">
      <div class="ids-container">
        <app-element-page [page]="page" [loading]="loading"></app-element-page>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #blockTemplate>
  <div class="ids-row">
    <div class="ids-row--col-sm-10 ids-row--col-xl-7 ids-row--offset-sm-1">
      <div class="ids-container">
        <app-block-page [page]="page" [loading]="loading"></app-block-page>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #docsTemplate>
  <div class="ids-row">
    <div class="ids-row--col-sm-10 ids-row--col-xl-7 ids-row--offset-sm-1">
      <div class="ids-container">
        <app-docs-content-page></app-docs-content-page>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #notFoundTemplate>
  <app-page-not-found></app-page-not-found>
</ng-template>
