
.ids-banner {
  border-radius: 2px;
  color: var(--body-color-primary-font);

  & .ids-banner-content {
    color: var(--body-color-primary-font);
    font-size: 14px;
    padding: 15px 0;
  }

  &.ids-banner--top-full-width {
    background-color: #c8e9f4; /* TODO: Change to correct token, originally azure01 */
    border: solid 1px var(--theme-color-brand-primary-base);
    margin-bottom: calc(var(--theme-number-spacing-base) * 6);
    text-align: center;
    width: 100%;
    z-index: 4;
  }
}
