/*
 * Base
 */

body {
  background-color: var(--white);
  padding-top: 78px;
}

.ids-container {
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
}

/*
 * Scrollbars
 */

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-default);
  border-radius: 10px;
}
