/*
 * Base
 */

body {
  background-color: var(--theme-color-brand-primary-contrast);
  padding-top: 54px;
}

.ids-container {
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
}

/*
 * Scrollbars
 */

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-left: 1px solid #d8d8d8;
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--body-color-primary-background);
  border-radius: 10px;
}
