/*
 * Base
 */

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: var(--white);
  padding-top: 78px;
}

.ids-container {
  margin: 0 auto;
}

.site-container {
  padding-top: 0;
}

img {
  height: auto;
  max-width: 100%;
}

.site,
.container {
  height: 100%;
}
