.blog-landing-page {
  width: 100%;
}

.blog-posts {
  min-height: 1500px;
}

.blog-post {
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: calc(var(--spacing-base) * 8);
  padding-bottom: calc(var(--spacing-base) * 6);

  &:last-child {
    border-bottom: none;
  }

  & li {
    list-style-position: outside;
    margin-left: 2rem;
  }
}

.blog-post--container {
  width: 100%;
}

.blog-post--header {
  margin-bottom: calc(var(--spacing-base) * 7);
}

.blog-post--date {
  color: var(--text-color-info);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
}

.blog-post--title {
  margin-top: calc(var(--spacing-base) * 3);
}

.blog-post--author {
  color: var(--text-color-info);
  font-size: var(--font-size-sm);
}

