/*
 * Buttons
 */

.btn--nav--toggle {
  display: block;
  margin-left: auto;

  @media (--viewport-md) {
    display: none;
  }
}

.ids-btn--default {
  &.ids-btn--light {
    background-color: var(--white);

    &:hover {
      background-color: var(--input-readonly-bg-color);
    }
  }
}

.ids-btn--primary {
  &.ids-btn--dark {
    background-color: #133c59;
  }
}
