/*
 * Buttons
 */

.btn--nav--toggle {
  display: block;
  margin-left: auto;

  @media (--viewport-md) {
    display: none;
  }
}

.ids-btn--default {
  &.ids-btn--light {
    background-color: var(--theme-color-brand-primary-contrast);

    &:hover {
      background-color: var(--input-color-readonly-background);
    }
  }
}

.demo-link,
.demo-link:hover {
  text-decoration: none;
}

.demo-link {
  & .ids-icon {
    height: 15px;
    top: 5px;
  }

  & .icon-git {
    height: 18px;
    top: 3px;
  }
}

