.site-footer {
  background-color: #f0f0f0;
  padding: calc(var(--spacing-base) * 4);
}

.site-footer--nav {
  align-self: flex-end;
  text-align: right;

  & nav {
    & a {
      display: inline-block;
      margin-left: calc(var(--spacing-base) * 2);
    }
  }
}

.site-footer--newsletter-cta {
  font-weight: var(--font-weight-bold);
  margin-top: 0;
}
