
/*
 * Layout
 */

.home {
  & .page-content {
    margin: 0;
    padding-top: 0;
    width: 100%;
  }

  & .sidebar-nav-comp {
    display: none;
  }
}

/*
 * Code page overrides
 */

.code-section {
  & .sidebar-nav-comp {
    display: none;
  }

  & .page-content {
    padding-top: 0;
  }
}

.page-content--code {
  padding-top: 48px;
}
