/*
 * Layout
 */

.site:not(.home, .code-section) {
  & .page-content {
    padding: 32px 0;
  }
}

.home {
  & .page-content {
    margin: 0;
    padding-top: 0;
    width: 100%;
  }

  & .sidebar-nav-comp {
    display: none;
  }
}

/*
 * Page Hero
 */

.page-hero {
  margin-bottom: calc(var(--spacing-base) * 12);
  margin-top: calc(var(--spacing-base) * 3);
  padding-bottom: calc(var(--spacing-base) * 11);
  padding-top: calc(var(--spacing-base) * 11);
  position: relative;

  @media (--viewport-sm) {
    margin-top: -32px;
  }
}

.page-hero--title {
  font-size: 4.8rem;
  font-weight: var(--font-weight-bold);
  margin-top: 0;
}

.page-hero--text {
  margin-bottom: 0;
}

.page-hero--image {
  bottom: -50px;
  position: relative;
  margin-left: auto;
  right: calc(var(--spacing-base) * 4);
  width: 122px;

  @media (--viewport-sm) {
    width: 185px;
  }

  @media (--viewport-md) {
    width: 225px;
    position: absolute;
  }

  @media (--viewport-lg) {
    width: 320px;
  }
}

/*
 * Code page overrides
 */

.code-section {
  & .sidebar-nav-cms {
    display: none;
  }

  & .page-content {
    padding-top: 0;
  }
}

.page-content--code {
  padding: 32px 0;

  @media (--viewport-md) {
    padding: 24px 0;
  }
}

/*
  Site Footer
*/

.site-footer {
  background-color: #133c59;
  display: none;
  position: relative;

  & a {
    color: var(--white);
    display: inline-block;
    text-decoration: none;
  }
}

.site-footer--nav {
  display: flex;
  margin: calc(var(--spacing-base) * 4) 0;

  & a {
    margin-right: 10%;
  }
}

.site-footer--title,
.site-footer--soho-link {
  margin: 0;
}

.site-footer--title {
  color: var(--white);
}

.site-footer--soho-link {
  bottom: calc(var(--spacing-base) * 2);
  position: absolute;
  right: calc(var(--spacing-base) * 2);

  @media (--viewport-md) {
    bottom: calc(var(--spacing-base) * 4);
    right: calc(var(--spacing-base) * 4);
  }
}
