/*
 * Sidebar nav
 */

.sidebar-nav-comp {
  outline: 0;
  padding-top: 48px;

  @media (--viewport-sm) {
    border-right: 1px solid var(--input-readonly-bg-color);
    height: 100vh;
    left: 0;
    overflow-y: auto;
    padding-bottom: 150px;
    position: fixed;
  }
}

.library-select-group {
  padding: 0 calc(var(--spacing) * 2);
}

.ids-list--expandable {
  display: none;

  &.ids-list--expanded {
    display: block;
  }
}

.ids-list--heading-accordion {
  position: relative;

  & .ids-icon {
    fill: var(--text-color-info);
    position: absolute;
    right: calc(var(--spacing) * 3);
    transform: rotate(0deg) translateY(50%);
  }

  &:hover {
    & .ids-icon {
      fill: var(--text-color);
    }
  }

  &.ids-list--heading-accordion--active {
    & .ids-icon {
      transform: rotate(-180deg) translateY(-50%);
    }
  }
}
