/*
 * Page specific styles
 */

.banner {
  background: #133c59;
  color: var(--white);
  overflow: hidden;
  padding: calc(85px - 24px) 0;
  position: relative;

  & h1,
  & p {
    color: var(--white);
  }

  & h1 {
    font-size: 48px;
    font-weight: var(--font-weight-bold);
    margin-bottom: calc(var(--spacing-base) * 3);
    margin-top: 0;
  }
}

.banner--content {
  padding-right: calc(var(--spacing-base) * 15);

  @media (--viewport-sm) {
    padding-right: 0;
  }
}

.banner--bg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: visible;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;

  & .white-dot-pattern {
    height: 100%;
    overflow: visible;
    width: 100%;

    & path {
      position: relative;
      stroke: var(--white);
      transition: all 2.3s ease;
    }

    &.white-dot-pattern--settled {
      & .dot--pulse {
        animation: pulse 1s ease alternate infinite;
      }
    }
  }

  @media (--viewport-md) {
    width: 50%;
  }
}

@keyframes pulse {
  from {
    stroke-width: 1;
  }

  to {
    stroke-width: 5;
  }
}

.section {
  padding: calc(var(--spacing-base) * 10) 0;

  &.section--visible {
    & .section--top,
    & .section--mid,
    & .section--btm,
    & .section--subsection {
      opacity: 1;
      transform: translateY(0);
    }

    & .col--border {
      &::before {
        max-height: 1000px;
      }
    }
  }
}

.section--top,
.section--mid,
.section--btm,
.section--subsection {
  opacity: 0;
  position: relative;
  transform: translateY(100px);
  transition: transform 0.7s ease, opacity 0.7s ease;
}

.section--top {
  transition-delay: 1s;
}

.section--mid {
  transition-delay: 1.2s;
}

.section--btm {
  transition-delay: 1.3s;
}

.section--subsection {
  transition-delay: 1.4s;
}

.section-headline {
  font-size: 3.2rem;
  font-weight: var(--font-weight-bold);
  margin-top: 0;
}

.section--block {
  background-color: var(--white);
  border-radius: 2px;
  margin-bottom: calc(var(--spacing-base) * 2);
  padding: calc(var(--spacing-base) * 3);

  @media (--viewport-md) {
    margin-bottom: 0;
  }
}

.section--block--headline {
  font-size: 2.4rem;
  margin-top: 0;
}

.section--1 {
  background-color: #f0f0f0;
}

.section--1--top {
  margin-bottom: calc(var(--spacing-base) * 7);
}

.section--1--mid {
  margin-bottom: 0;

  @media (--viewport-sm) {
    margin-bottom: calc(var(--spacing-base) * 12);
  }

  & > div {
    margin-bottom: calc(var(--spacing-base) * 10);
    position: relative;

    @media (--viewport-sm) {
      margin-bottom: calc(var(--spacing-base) * 4);
    }

    & img {
      margin-bottom: calc(var(--spacing-base) * 5);

      @media (--viewport-sm) {
        margin-bottom: calc(var(--spacing-base) * 6);
      }
    }

    @media (--viewport-sm) {
      margin-bottom: 0;
    }
  }

  & .col--border {
    &::before {
      background-color: #979797;
      left: -20%;
      max-height: 0;
      transform: translateX(2px);
      transition: max-height 1.5s ease 1.5s;
      width: 2px;

      @media (--viewport-lg) {
        left: -50%;
      }
    }
  }
}

.section--1--btm {
  margin-top: calc(var(--spacing-base) * 3.5);

  @media (--viewport-md) {
    margin-top: calc(var(--spacing-base) * 7);
  }
}

.section--1--btm--inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  @media (--viewport-md) {
    flex-wrap: no-wrap;
    justify-content: space-around;
  }

  @media (--viewport-sm) {
    align-items: flex-end;
    flex-direction: row;
  }

  & > div {
    align-self: flex-end;
    margin-bottom: calc(var(--spacing-base) * 4);
    width: 50%;

    &:nth-child(3) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (--viewport-sm) {
      margin-bottom: 0;
      width: auto;
    }
  }

  & span {
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
  }

  & img {
    display: block;
    margin: 0 auto calc(var(--spacing-base) * 4);
  }
}

.section--2 {
  background:
    url(/assets/site/assets/black-dot-grid.svg) center top -740px,
    url(/assets/site/assets/black-dot-grid.svg) center bottom -740px;
  background-repeat: no-repeat;
  padding: calc(var(--spacing-base) * 25) 0;
}

.section--2--top {
  margin-bottom: calc(var(--spacing-base) * 12);
}

.section--2--mid {
  & img {
    display: block;
    margin: 0 auto;
  }
}

.section--2--btm {
  margin-top: calc(var(--spacing-base) * 10);

  & > div {
    margin-bottom: calc(var(--spacing-base) * 3);

    &:last-child {
      margin-bottom: 0;
    }

    @media (--viewport-sm) {
      margin-bottom: 0;
    }
  }
}

.section--3 {
  background-color: #8cb6e7;
}

.section--3--top {
  margin-bottom: calc(var(--spacing-base) * 12);
}

.section--4 {
  background: url(/assets/site/assets/black-dot-grid.svg) center top -740px;
  background-repeat: no-repeat;
  padding-top: calc(var(--spacing-base) * 25);
}

.section--4--top {
  margin-bottom: calc(var(--spacing-base) * 7);
}

.section--4--btm {
  & > div {
    margin-bottom: calc(var(--spacing-base) * 10);

    &:last-child {
      margin-bottom: 0;
    }

    @media (--viewport-sm) {
      margin-bottom: 0;
    }
  }

  & img {
    margin-bottom: calc(var(--spacing-base) * 6);
  }

  & .col--border {
    &::before {
      background-color: #979797;
      left: -20%;
      max-height: 0;
      transform: translateX(-7px);
      transition: max-height 1.5s ease 1.5s;
      width: 2px;

      @media (--viewport-sm) {
        left: -50%;
      }
    }
  }
}

.section--5 {
  background-color: #f0f0f0;
}

.section--5--top,
.section--5--mid {
  margin-bottom: calc(var(--spacing-base) * 6);
}

/*
 Inner Pages
*/

.page-title {
  margin-bottom: 20px;
  margin-top: 0;
}

.page-header {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (--viewport-md) {
    flex-direction: row;
  }
}

.page-header__buttons {
  margin-left: 0;

  @media (--viewport-md) {
    margin-left: auto;
  }

  & .ids-btn {
    width: 100%;

    @media (--viewport-sm) {
      width: auto;
    }
  }
}

.page-section {
  margin-bottom: calc(var(--spacing) * 12);

  & h1 {
    margin-top: 0;
  }

  & .h2 {
    margin-bottom: 20px;
  }

  & ul,
  & ol {
    overflow: hidden;
    position: relative;
  }

  /* Remove mysterious padding */
  & pre {
      margin-bottom: calc(-var(--spacing) * 3);
  }

  & img.inline-image--left-half {
    @media (--viewport-md) {
      float: left;
      margin-bottom: var(--spacing);
      margin-right: calc(var(--spacing) * 4);
      margin-top: var(--spacing);
      max-width: 50%;
    }
  }

  & img.inline-image--left-quarter {
    float: left;
    margin-bottom: var(--spacing);
    margin-right: calc(var(--spacing) * 3);
    margin-top: var(--spacing);
    max-width: 50%;

    @media (--viewport-md) {
      margin-right: calc(var(--spacing) * 4);
      max-width: 25%;
    }
  }

  & img.inline-image--right-half {
    @media (--viewport-md) {
      float: right;
      margin-bottom: var(--spacing);
      margin-left: calc(var(--spacing) * 4);
      margin-top: var(--spacing);
      max-width: 50%;
    }
  }

  & img.inline-image--right-quarter {
    float: right;
    margin-bottom: var(--spacing);
    margin-left: calc(var(--spacing) * 3);
    margin-top: var(--spacing);
    max-width: 50%;

    @media (--viewport-md) {
      margin-left: calc(var(--spacing) * 4);
      max-width: 25%;
    }
  }

  & img.image-row--inline {
    display: block;
    margin: 0 auto;
  }

  /* Float logos from code docs
   * https://stackoverflow.com/a/22683624
   */
  & img[src$='#logo-float-right'] {
    @media (--viewport-md) {
      float:right;
      margin-bottom: calc(var(--spacing) * 2);
      margin-left: calc(var(--spacing) * 2);
    }

    @media (--viewport-xl) {
      position: absolute;
      right: 36px;
      top: 132px;
    }
  }
}

.page-section,
.flexible-content {
  & p {
    margin-bottom: calc(var(--spacing) * 4);
  }

  & p + ul {
    margin-top: calc(var(--spacing) * 4);
  }

  & li {
    list-style-position: outside;
    margin-left: 2rem;
  }
}

.page-section-intro {
  padding: 80px 0;
}

/*
 * Flexible streamfield components
 */

.flexible-content {
  position: relative;

  & .bg-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  & .ids-row {
    position: relative;
    z-index: 1;
  }

  & .hero-image {
    margin-bottom: calc(var(--spacing) * 4);
  }
}

.full-width {
  position: relative;
  text-align: center;

  & .ids-container {
    position: relative;
    z-index: 1;
  }
}

.full-width--title {
  font-weight: var(--font-weight-bold);
  margin-top: 0;
}

.full-width--hero-image {
  margin-bottom: calc(var(--spacing-base) * 6);
}

.two-column {
  & .faux-columns {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;

    @media (--viewport-sm) {
      flex-direction: row;
    }

    & .col {
      height: 100%;
      position: relative;
      width: 100%;

      @media (--viewport-sm) {
        width: 50%;
      }
    }
  }

  & .two-column--content {
    margin-bottom: calc(var(--spacing-base) * 6);
    position: relative;
    z-index: 1;

    @media (--viewport-sm) {
      margin-bottom: 0;
    }
  }

  & p {
    margin-bottom: calc(var(--spacing) * 4);
  }

  & .two-column--title {
    font-weight: var(--font-weight-bold);
    margin-top: calc(var(--spacing-base) * 6);
  }
}

.two-column--hero-image {
  width: 94px;
}

.two-col-text-image {
  padding: calc(var(--spacing) * 20) 0;

  & .ids-container {
    position: relative;
    z-index: 1;
  }
}

.two-col-text-image--image {
  &.right {
    order: 2;
  }

  & img {
    max-width: 100%;
    width: 100%;
  }
}
