/*
 * Styles specific to the Pendo Documentation
 */

.pendo-example {
  border: solid 1px #368ac0;
  border-collapse: collapse;
  margin: 25px 0;

  & th {
    background-color: #368ac0;
    color: #fff;
    height: 40px;
    vertical-align: middle;
  }

  & td {
    vertical-align: top;
  }
}

.pendo-img-lg {
  max-width: 800px;
}

.pendo-example img,
.pendo-img-md {
  max-width: 350px;
}

.pendo-img-sm {
  max-width: 200px;
}

/*
 * Raw CSS iframe
 */
#pendo-iframe-css {
  background: #f0f1f5;
  border: solid 1px #f0f1f5;
  height: 48px;
  padding: 10px 15px;
  width: 90%;
}

/*
 * Actual, very specific styles that should equal what is in pendo css.
 */
.pendo-red-text {
  color: #e84f4f;
}

.pendo-blue-text {
  color: #368ac0;
}
