.question-widget {
  display: none;
  bottom: calc(var(--spacing-base) * 3);
  position: fixed;
  right: calc(var(--spacing-base) * 3);

  @media(--viewport-lg) {
    display: block;
  }

  & .popover {
    margin-bottom: calc(var(--spacing-base) * 2);

    & p {
      margin-top: 0;
    }
  }

  & legend {
    margin-bottom: calc(var(--spacing-base) * 2);
  }
}

.question-widget--inner {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.question-widget--thank-you {
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #1a1a1a;
  height: 340px;
  margin: 0;
  max-width: 245px;
  overflow: auto;
  padding: calc(var(--spacing-base) * 5);
  position: relative;
  text-align: left;
}
