.search-page {
  padding-top: calc(var(--spacing-base) * 15);
}

.search-highlight {
  color: var(--text-color-muted);
  display: block;
  font-size: var(--font-size-sm);
  line-height: 1.65rem;
  max-height: calc(2 * 1.65rem);
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

  & em {
    color: var(--text-color-info);
    display: inline-block;
    font-style: normal;
    font-weight: var(--font-weight-bold);
  }
}
