.search-page {
  padding-top: calc(var(--theme-number-spacing-base) * 15);
}

.search-highlight {
  color: var(--theme-color-font-muted);
  display: block;
  font-size: var(--theme-size-font-sm);

  & em {
    color: var(--theme-color-font-info);
    display: inline-block;
    font-style: normal;
    font-weight: var(--theme-number-font-weight-bold);
  }
}
