/*
 * Tables
 */

table {
  border: 1px solid var(--graphite01);
  font-size: var(--font-size-sm);
  margin-bottom: 32px;
  margin-top: 0;
  width: 100%;

  & caption {
    font-size: var(--font-size-md);
    margin-bottom: calc(var(--spacing-base) * 2);
    margin-top: calc(var(--spacing-base) * 2);
    text-align: left;
  }

  & thead {
    text-align: left;
  }

  & tr {
    border-bottom: 1px solid var(--graphite01);
  }

  & th,
  & td {
    padding: var(--spacing-base);
  }

  & th {
    background-color: var(--graphite01);
    font-weight: var(--font-weight-bold);
  }

  & td {
    color: var(--color-default-alt);
    line-height: 1.5;
    vertical-align: middle;
  }

  & .row--full-image {
    border-bottom: none;
  }

  & .image-row--full {
    & img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  & .table-header--description {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
  }
}
