/*
 * Specification styles
 */
.site-spec--code {
  background-color: #f9fafc;
  border: solid 1px #dedede;
  display: inline-block;
  font-family: var(--font-mono);
  font-size: 1.1rem;
  padding: 3px 30px;
}

.site-spec--color {
  border: 1px solid #bdbdbd;
  border-radius: 24px;
  display: inline-block;
  height: 24px;
  margin-right: 25px;
  position: relative;
  top: 3px;
  width: 24px;
}

/*
 * Theme Specs
 */
.theme-spec--group {
  padding: 10px 30px;
}

.theme-spec--block {
  -webkit-font-smoothing: antialiased;
  padding: 5px;
}

.theme-spec--swatch {
  border: solid 1px transparent;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.theme-spec--details {
  font-size: 13px;
  padding-top: 10px;
}
