<div class="search-page">
  <div class="ids-row ids-container">
    <div class="ids-row--col-md-6 ids-row--offset-md-3">

      <div class="ids-form-group">
        <label for="searchInput">Search</label>
        <input #searchInput (keyup.enter)="onEnter(searchInput.value)" type="text" class="ids-form-control" id="searchInput" name="searchInput" placeholder="Search">
      </div>

      <ul class="ids-list">
        <ng-container *ngIf="pagesResults">
          <li class="ids-list--item" *ngFor="let result of pagesResults">
            <h3>
              <a [routerLink]="['/'].concat(result.relativeUrl.split('/')).concat('').slice(0, -1)">{{result.title}}</a>
            </h3>
            <small>Found In: Design</small>
            <p *ngIf="result.search_description">{{result.search_description}}</p>
          </li>
        </ng-container>
        <ng-container *ngIf="docsResults">
          <li class="ids-list--item" *ngFor="let result of docsResults">
            <h3>
              <a routerLink="/code/{{result.relativeUrl}}">{{result.title}}</a>
            </h3>
            <small>Found In: {{result.library}} &middot; {{result.libVersion}}</small>
            <p *ngIf="result.description">{{result.description}}</p>
          </li>
        </ng-container>
        <ng-container *ngIf="noResults">
          <p>No Results Found.</p>
        </ng-container>
      </ul>

    </div>
  </div>
</div>
